
    <div class="info-container panel panel-default" *ngIf="listView">
        <div class="container-fluid row mx-auto mt-2">
            <div class="mr-auto row ml-1">
                <h3 class="list-title">Administradores</h3>
                <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                    <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
                </button>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a class="btn btn-success" style="color: white" (click)="createAdmin()"><i class="fas fa-plus-circle"></i>
                        Añadir Administrador
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid row mx-auto mt-2">
            <div class="mr-auto row ml-2 form-inline">
                <label class="mr-1"><b>Mostrar:</b></label>
                <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                <label>Elementos</label>
            </div>
            <div class="ml-auto form-inline">
                <div class="form-group row">
                  <input type="text" name="searchString" class="form-control" placeholder="Buscar" name="search" [(ngModel)]="filter">
                </div>
            </div>
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
              <label class="btn btn-outline-secondary" (click)="excelDownload()">
                <input type="radio" name="options" autocomplete="off" checked> Excel
              </label>
              <label class="btn btn-outline-secondary" (click)="pdfDownload()">
                <input type="radio" name="options" autocomplete="off"> PDF
              </label>
              <label class="btn btn-outline-secondary" (click)="print()">
                <input type="radio" name="options" autocomplete="off"> Print
              </label>
            </div>
        </div>
        <div class="table mt-2 container-fluid">
            <table class="table table-bordered">
                <thead class="thead-light">
                <th (click)="sort('id')">ID
                    <span class="fas" *ngIf="key =='id'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                </th>
                <th (click)="sort('dni')">Cédula
                    <span class="fas" *ngIf="key =='dni'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                </th>
                <th (click)="sort('name')">Nombre
                    <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                </th>
                <th (click)="sort('lastname')">Apellido
                    <span class="fas" *ngIf="key =='lastname'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                </th>
                <th (click)="sort('email')">Correo
                    <span class="fas" *ngIf="key =='email'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
                </th>
                <th>Acciones</th>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                    <td>{{d.id}}</td>
                    <td>{{d.dni}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.lastname}}</td>
                    <td>{{d.email}}</td>
                    <td>
                        <a class="btn btn-info" *ngIf="d.active == 0" (click)="activateAdmin(d.id)" style="display: inline-block; margin-right: 10px; width: 100px">Activar</a>
                        <a class="btn btn-secondary" *ngIf="d.active == 1" (click)="disableAdmin(d.id)" style="display: inline-block; margin-right: 10px;  width: 100px">Desactivar</a>
                        <a class="btn btn-primary btn-xs" (click)="viewDetail(d.id)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
                        <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editAdmin(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
                        <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                    </td>
                    <div class="modal" tabindex="-1" role="dialog" id="modal{{d.id}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #c82333; color: white;">
                                    <h5 class="modal-title">Eliminar Administrador</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro que desea eliminar al administrador {{d.name}} {{d.lastname}}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" (click)="deleteAdmin(d.id)" data-dismiss="modal">Eliminar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr *ngIf="data.length == 0 && !isLoading">
                    <th colspan="6" class="text-center">
                        <div style="font-size: 1.3rem; color: gray">
                            Sin administradores para mostrar. &nbsp;
                        </div>
                    </th>
                </tr>
                <tr *ngIf="isLoading">
                    <th colspan="6">
                        <div style="font-size: 1.2rem">
                            Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>
            <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                     nextLabel="">
                </pagination-controls>
            </div>
        </div>
    </div>

    <div class="info-container panel panel-default" *ngIf="createView">
        <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
            <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i> Nuevo Administrador</h3>
        </div>
        <div class="panel-body mt-2">
            <div class="table-container container">
                <form method="POST"  role="form">
                    <div class="form-group row">
                        <label for="namea" class="col-sm-2 col-form-label">Nombres <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="namea" placeholder="Your Name" [(ngModel)]="namea" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastnamea" class="col-sm-2 col-form-label">Apellidos <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastnamea" placeholder="Your Last Name" [(ngModel)]="lastnamea" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                        <div class="col-sm-5">
                            <img src="{{photoa}}" class="profile-image">
                        </div>
                        <div class="col-sm-5">
                            <input type="file" class="form-control" accept="image/*" (change)="uploadNew($event)">
                            <div class="progress mt-3">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dnia" class="col-sm-2 col-form-label">Cédula <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" appNumberOnly maxlength="11" class="form-control" id="dnia" placeholder="1111111111111111" [(ngModel)]="dnia" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emaila" class="col-sm-2 col-form-label">Correo <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emaila" placeholder="example@email.com" [(ngModel)]="emaila" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passworda" class="col-sm-2 col-form-label">Password <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="passworda" placeholder="*************" [(ngModel)]="passworda" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="display: flex; align-items: center" class="col-form-label col-sm-10">Recibir notifications por correo
                            <input style="margin-left: 10px; zoom: 150%" type="checkbox" [(ngModel)]="notificationsa" [ngModelOptions]="{standalone: true}">
                        </label>
                    </div>
                    <div class="form-group row" *ngIf="false">
                        <label class="col-sm-2 col-form-label"> Tipo <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control"
                                name="selectedRole"
                                id="selectedRole"
                                [(ngModel)]="selectedRole"
                                (change)="setRole(selectedRole)">
                                <option [value]="''" disabled selected hidden>Seleccionar</option>
                                <option  [value]="type.title" *ngFor="let type of role">{{type.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="w-100 mt-6"></div> 
                        <div class="container-fluid mt-12" *ngIf="panel" style="background-color: #fdfdfd; border: 1px solid #cccccc; border-radius: 10px; box-shadow: 7px 5px 5px #e6e4e4; margin-top: 40px;">
                            <div class="row justify-content-center mt-6 mb-6" style="margin: 20px 0;" *ngIf="panel" >
                                <div class="col-12">
                                    <h4>
                                        Permisiones
                                    </h4>        
                                </div>
                            </div>
                            <div class="row justify-content-end ml-3 mr-3 mt-3 permit">
                                
                                    <div class="col-8">
                                        <form action="" class="form-inline">
                                            <label class="form-check-label mt-1 mr-3" (click)="setPrincipal(0)">
                                                <input type="checkbox" name="Proyectos" [(ngModel)]="permissions[0].enabled" class="form-check-input" 
                                                style="height: 20px; width: 20px; margin-top: 20px; border: 1px solid #095e97;"> &nbsp; <h5 class="mt-4">Proyectos</h5> 
                                            </label> 
                                        </form>
                                    </div>
                                    <div class="col-2 text-center">
                                        <div>
                                            <h6 class="mt-3 mb-2">Lectura</h6>
                                            <div class="mb-2">
                                                <ui-switch  checked [disabled]="!permissions[0].enabled" size="small" name="lectura" (click)="setPermission(0, 0)" [(ngModel)]="permissions[0].see" color="#8bf184">
                                                </ui-switch>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 text-center">
                                        <div class="">
                                            <h6 class="mt-3 mb-2">Modificar</h6>
                                            <div class="mb-2">
                                                <ui-switch id ="2"  checked [disabled]="!permissions[0].enabled" size="small" name="modificar" (click)="setPermission(0, 1)" [(ngModel)]="permissions[0].edit" color="yellow"></ui-switch>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row justify-content-end ml-3 mr-3 mt-3 permit">
                                
                                <div class="col-8">
                                    <form action="" class="form-inline">
                                        <label for="" class="form-check-label mt-1 mr-3" (click)="setPrincipal(1)">
                                            <input type="checkbox" name="Ubicaciones" [(ngModel)]="permissions[1].enabled" class="form-check-input" 
                                            style="height: 20px; width: 20px; margin-top: 20px; border: 1px solid #095e97;"> &nbsp; <h5 class="mt-4">Ubicaciones</h5> 
                                        </label> 
                                    </form>
                                </div>
                                <div class="col-2 text-center">
                                    <div>
                                        <h6 class="mt-3 mb-2">Lectura</h6>
                                        <div class="mb-2">
                                            <ui-switch id ="3" checked [disabled]="!permissions[1].enabled" size="small" name="lectura" (click)="setPermission(1, 0)" [(ngModel)]="permissions[1].see" color="#8bf184"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <div class="">
                                        <h6 class="mt-3 mb-2">Modificar</h6>
                                        <div class="mb-2">
                                            <ui-switch id ="4"  checked [disabled]="!permissions[1].enabled" size="small" name="modificar" (click)="setPermission(1, 1)" [(ngModel)]="permissions[1].edit" color="yellow"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end ml-3 mr-3 mt-3 permit">
                                
                                <div class="col-8">
                                    <form action="" class="form-inline">
                                        <label for="" class="form-check-label mt-1 mr-3" (click)="setPrincipal(2)">
                                            <input type="checkbox" name="Administradores" [(ngModel)]="permissions[2].enabled" class="form-check-input" 
                                            style="height: 20px; width: 20px; margin-top: 20px; border: 1px solid #095e97;"> &nbsp; <h5 class="mt-4">Administradores</h5> 
                                        </label> 
                                    </form>
                                </div>
                                <div class="col-2 text-center">
                                    <div>
                                        <h6 class="mt-3 mb-2">Lectura</h6>
                                        <div class="mb-2">
                                            <ui-switch id ="5" checked [disabled]="!permissions[2].enabled" size="small" name="lectura" (click)="setPermission(2, 0)" [(ngModel)]="permissions[2].see" color="#8bf184"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <div class="">
                                        <h6 class="mt-3 mb-2">Modificar</h6>
                                        <div class="mb-2">
                                            <ui-switch id ="6"  checked [disabled]="!permissions[2].enabled" size="small" name="modificar" (click)="setPermission(2, 1)" [(ngModel)]="permissions[2].edit" color="yellow"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end ml-3 mr-3 mt-3 permit">
                                
                                <div class="col-8">
                                    <form action="" class="form-inline">
                                        <label for="" class="form-check-label mt-1 mr-3" (click)="setPrincipal(9)">
                                            <input type="checkbox" name="permissions[9].name" [(ngModel)]="permissions[9].enabled" class="form-check-input" 
                                            style="height: 20px; width: 20px; margin-top: 20px; border: 1px solid #095e97;"> &nbsp; <h5 class="mt-4">Contactos</h5> 
                                        </label> 
                                    </form>
                                </div>
                                <div class="col-2 text-center">
                                    <div>
                                        <h6 class="mt-3 mb-2">Lectura</h6>
                                        <div class="mb-2">
                                            <ui-switch id ="18" checked [disabled]="!permissions[9].enabled" size="small" name="lectura" (click)="setPermission(9, 0)" [(ngModel)]="permissions[9].see" color="#8bf184"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 text-center">
                                    <div class="">
                                        <h6 class="mt-3 mb-2">Modificar</h6>
                                        <div class="mb-2">
                                            <ui-switch id="19" checked [disabled]="!permissions[9].enabled" size="small" name="modificar" (click)="setPermission(9, 1)" [(ngModel)]="permissions[9].edit" color="yellow"></ui-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                    

                    <div>
                        <p *ngIf="errorSave" class="text-danger">Error al guardar, intente nuevamente</p>
                        <p *ngIf="errorSaveData" class="text-danger">{{errorNewMsg}}</p>
                    </div>
                    <div class="row mt-4 justify-content-around">
                        <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="return()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                        <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveNewAdmin()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Agregar Administrador</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="info-container panel panel-default" *ngIf="editView">
        <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
            <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Administrador</h3>
        </div>
        <div class="panel-body mt-2">
            <div class="table-container container">
                <form role="form">
                    <div class="form-group row">
                        <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>ng
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" placeholder="Introduzca nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="apellido" class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apellido" placeholder="Introduzca apellido" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="identificacion" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-10">
                            <input type="text" appNumberOnly maxlength="11" class="form-control" id="identificacion" placeholder="Introduzca cédula" [(ngModel)]="identificacion" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                        <div class="col-sm-5">
                            <img *ngIf="photo" src="{{photo}}" class="profile-image">
                            <img *ngIf="!photo" src="{{photoa}}" class="profile-image">
                        </div>
                        <div class="col-sm-5">
                            <input type="file" class="form-control" id="photo" accept="image/*" (change)="upload($event)">
                            <div class="progress mt-3">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="correo" class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="correo" placeholder="Introduzca correo" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contrasena" class="col-sm-2 col-form-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="contrasena" placeholder="Introduzca contraseña" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="display: flex; align-items: center" class="col-form-label col-sm-10">Recibir notifications por correo
                            <input style="margin-left: 10px; zoom: 150%" type="checkbox" [(ngModel)]="notifications" [ngModelOptions]="{standalone: true}">
                        </label>
                    </div>
                    <div>
                        <p *ngIf="errorEdit" class="text-danger">Error al guardar, intente nuevamente</p>
                        <p *ngIf="errorEditData" class="text-danger">{{errorEditMsg}}</p>
                    </div>
                    <div class="row mt-4">
                        <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="return()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                        <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Administrador</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="info-container panel panel-default" *ngIf="detailsView">
        <div class="row panel-heading mb-2" style="background-color: #D9D9D9; padding: 10px">
            <div class="mr-auto ml-4">
                <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalle Administrador</h3>
            </div>
            <div class="ml-auto" style="margin-top: 25px; margin-right: 60px;">
                <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                  <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                  </label>
                  <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                  </label>
                  <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                  </label>
                </div>
            </div>
        </div>
        <div class="panel-body mt-2">
            <div class="table-container container">
                <form  role="form">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Nombres</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="name" value="{{admin.name}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-sm-2 col-form-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="lastname" value="{{admin.lastname}}">
                        </div>
                    </div>
                     <div *ngIf="admin.photo" class="form-group row">
                        <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                        <div class="col-sm-5">
                            <img src="{{admin.photo}}" class="profile-image">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dni" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="dni" value="{{admin.dni}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="email" readonly class="form-control" id="email" value="{{admin.email}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="creation" class="col-sm-2 col-form-label">Fecha de creación</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="creation" value="{{admin.create_date | date : 'medium'}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="update" class="col-sm-2 col-form-label">Última actualización</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control" id="update" value="{{admin.update_date | date : 'medium'}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label style="display: flex; align-items: center" class="col-form-label col-sm-10">Recibir notifications por correo
                            <input style="margin-left: 10px; zoom: 150%" type="checkbox" [checked]="admin.notifications" disabled>
                        </label>
                    </div>
                    <div class="row mt-4">
                        <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="return()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


