app-admin {
    height: 100%;
    width: 100%;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.btn.btn-secondary {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.btn-aside_menu {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #585858;
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container-fluid {
    padding-top: 4px;
}

.thead-light>th {
    cursor: pointer;
}


.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem
}

.profile-image {
    background: #D9D9D9;
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    object-position: center;
}



.switch.dig-def {
    width: 100%;
    margin-top: 20px;
    float: left;
}
.switch.dig-def input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.switch.m-left-i {
    margin-left: 0;
}


.switch {
position: relative;
display: inline-block;
width: 137px;
height: 40px;
font-size: 18px;
text-align: center;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.checkdef-f,
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #cccccc;
border: 1px solid #cccccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}

.checkdef-f {
background-color: #ffffff;
}

.checkdef-f:before,
.slider:before {
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
position: absolute;
content: "No";
height: 38px;
width: 50%;
left: 0;
bottom: 0;
background-color: #ffffff;
-webkit-transition: .4s;
transition: .4s;
padding-top: 6px;
}

.checkdef-f:before {
font-family: 'FontAwesome';
content: "\f00d";
background-color: #ef3829;
color: #ffffff;
}

.t-otherc {
width: 49%;
height: 22px;
right: 1%;
text-align: center;
top: 0;
bottom: 0;
margin: auto 0;
position: absolute;
color: #cccccc;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
-webkit-transition: .4s;
transition: .4s;
}

.t-otherc:before {
content: "SI";
cursor: pointer;
}

input:checked + .checkdef-f .t-otherc {
right: inherit;
left: 1%;
}

input:checked + .checkdef-f .t-otherc:before {
content: "NO";
}

input:checked + .checkdef-f:before,
input:checked + .slider:before {
content: "Si";
background-color: #5eba58;
color: #ffffff;
}

input:checked + .checkdef-f:before {
content: "\f00c";
font-family: 'FontAwesome';
}

input:checked + .checkdef-f,
input:checked + .slider {
background-color: #ffffff;
}

input:focus + .checkdef-f,
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .checkdef-f:before,
input:checked + .slider:before {
-webkit-transform: translateX(68.5px);
-ms-transform: translateX(68.5px);
transform: translateX(68.5px);
}

@media (max-width: 768px) {
.switch.dig-def input:checked + .checkdef-f:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
}

.permit{
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 20px 0;
}


