<div class="info-container panel panel-default">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/proyectos" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Logistica: {{project.name}}</h3>
        </div>
    </div>
    <div class="panel-body mt-2 m-top">
        <div class="table-container container">
            <form role="form" class="m-top">

                <div class="form-group row" style="background: whitesmoke">
                    <label class="col-sm-12 col-form-label text-center" >
                        <h3>Seleccion de Transporte y Estibas</h3>
                    </label>
                </div>

                <div class="form-group row" style="background: lightyellow; padding: 16px">

                    <div class="form-group row col-sm-6">
                        <label class="col-sm-5 col-form-label">Centro de Costo</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="order.cost_center" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>

                    <label class="col-sm-2 col-form-label">Numero de Estibas</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" value="{{assignedLoaders.length}}" [(ngModel)]="assignedLoaders.length" [ngModelOptions]="{standalone: true}" readonly>
                    </div>

                    <label class="col-sm-2 col-form-label">Numero de Destinos</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" value="1" [(ngModel)]="order.routers" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3" style="background: #ffd4d4">
                        <label class="col-form-label">Tipo de Solicitud</label>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.type_dispatch" [ngModelOptions]="{standalone: true}"> Despacho de Materiales</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.type_withdrawal" [ngModelOptions]="{standalone: true}"> Retiro de Desmontados</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.type_movements" [ngModelOptions]="{standalone: true}"> Movimientos entre celdas</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label">Dificultad de Accesso</label>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.access_terrace" [ngModelOptions]="{standalone: true}"> Terraza</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.access_hill" [ngModelOptions]="{standalone: true}"> Cerro</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.access_river" [ngModelOptions]="{standalone: true}"> Fluvial</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.access_restriction" [ngModelOptions]="{standalone: true}"> Restricion de Horarios</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.access_load500" [ngModelOptions]="{standalone: true}"> Carga de pulso > 500mts</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.access_narrow" [ngModelOptions]="{standalone: true}"> Camino estrecho</label>
                        </div>
                    </div>
                    <div class="col-sm-3" style="background: #ffd4d4">
                        <label class="col-form-label">Tipo de transporte</label>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_350kg" [ngModelOptions]="{standalone: true}"> Furgoneta 350 KG</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_550kg" [ngModelOptions]="{standalone: true}"> Furgoneta 550 KG</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_900kg" [ngModelOptions]="{standalone: true}"> Furgon Sprinter 900 / 1000 KG</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_1tn" [ngModelOptions]="{standalone: true}"> Camioneta 1.0 / 1.5 Ton</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_2tn" [ngModelOptions]="{standalone: true}"> Camión Liviano 2.0 / 3.5 Ton</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_5tn" [ngModelOptions]="{standalone: true}"> Camión Liviano 4.5 / 5.5 Ton</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_7tn" [ngModelOptions]="{standalone: true}"> Camión 6 / 7.5 Ton</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_12tn" [ngModelOptions]="{standalone: true}"> Camión 10 / 12 Ton</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.truck_18tn" [ngModelOptions]="{standalone: true}"> Camión Pesado 16 - 19 Ton</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.truck_low" [ngModelOptions]="{standalone: true}"> Cama baja</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label">Servicios Adicionales</label>

                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_container20" [ngModelOptions]="{standalone: true}"> C. Contenedor 20' 18/28T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_container40" [ngModelOptions]="{standalone: true}"> C. Contenedor 40' 18/28T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_trailer40" [ngModelOptions]="{standalone: true}"> C. Semiremolque  40' 18/28T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_trailer48" [ngModelOptions]="{standalone: true}"> C. Semiremolque  48' 18/32T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_trailer53" [ngModelOptions]="{standalone: true}"> C. Semiremolque  53' 18/28T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_platform8" [ngModelOptions]="{standalone: true}"> Plataforma 8 mts 12/18T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_platform12" [ngModelOptions]="{standalone: true}"> Plataforma 12 mts 18/28T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_forklift_1tn" [ngModelOptions]="{standalone: true}"> Montacargas 1T (+ transporte)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_forklift_2tn" [ngModelOptions]="{standalone: true}"> Montacargas 2T (+ transporte)</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.additional_forklift_5tn" [ngModelOptions]="{standalone: true}"> Montacargas 5T</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_truck_4x4" [ngModelOptions]="{standalone: true}"> Camión 4x4</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="order.additional_barge" [ngModelOptions]="{standalone: true}"> Gabarra</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.additional_crane_25tn" [ngModelOptions]="{standalone: true}"> Grua 25tn</label>
                        </div>
                        <div class="checkbox disabled">
                            <label><input type="checkbox" [(ngModel)]="order.additional_packer" [ngModelOptions]="{standalone: true}"> Acemila</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Observaciones</label>
                    <div class="col-sm-10">
                        <textarea rows="5" cols="8" placeholder="(Opcional)" class="form-control input" [(ngModel)]="order.observation" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>

                <div class="row mt-4 col-sm-12" style="justify-content: space-around">
                    <button type="button" class="btn btn-success btn-block col-md-3" (click)="saveCreate()"><i class="fas fa-save" style="margin-right: 10px;"></i>Guardar</button>
                </div>

                <div class="m-top-i"></div>

                <div class="form-group row" *ngIf="containsOrder">
                    <div class="col-sm-12" style="border: black">
                        <div class="container-fluid row mx-auto mt-2" style="padding: 6px">
                            <div class="mr-auto row ml-2 form-inline">
                                <label class="mr-1"><b>Rutas</b></label>
                            </div>
                            <div class="ml-auto form-inline" *ngIf="destinations <= 1 || origins == 0">
                                <div class="btn-group">
                                    <a data-toggle="modal" href="#add_route" (click)="getSites(true)" class="btn btn-dark btn-tracing"><i class="fas fa-map-marker"></i>
                                        &nbsp;Agregar Origen
                                    </a>
                                </div>
                            </div>
                            <div class="ml-auto form-inline" *ngIf="origins <= 1 || destinations == 0">
                                <div class="btn-group">
                                    <a data-toggle="modal" href="#add_route" (click)="getSites(false)" class="btn btn-success btn-tracing"><i class="fas fa-map-marker"></i>
                                        &nbsp;Agregar Destino
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered col-sm-12">

                            <thead class="thead-dark medium-tab">
                            <th>Tipo</th>
                            <th>Nombre del Sitio</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Provincia</th>
                            <th>Ciudad</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th>Bultos
                            <th>* *</th>

                            <tbody class="medium-tab">
                            <tr *ngFor="let route of routes">
                                <td>{{route.type == 'ORIGIN' ? 'Origen' : 'Destino'}}</td>
                                <td>{{route.name}}</td>
                                <td>{{route.date}}</td>
                                <td>{{route.time}}</td>
                                <td>{{route.province}}</td>
                                <td>{{route.city}}</td>
                                <td>{{route.latitude}}</td>
                                <td>{{route.longitude}}</td>
                                <td>{{route.bulls}}</td>
                                <td style="vertical-align: middle; width: 40px">
                                    <a class="btn btn-danger btn-xs" title="Eliminar" data-toggle="modal" href="#modal_delete_route"
                                       (click)="confirmDeleteRoute(route);" style="padding: 0px 4px;"><span class="fas fa-trash-alt"></span>
                                    </a>
                                </td>
                            </tr>

                            <th colspan="10" *ngIf="routes.length == 0">
                                <div style="font-size: 1.2rem">
                                    Sin información....
                                </div>
                            </th>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group row" *ngIf="containsOrder">
                    <div class="col-sm-12" style="border: black">
                        <div class="container-fluid row mx-auto mt-2" style="padding: 6px">
                            <div class="mr-auto row ml-2 form-inline">
                                <label class="mr-1"><b>Conductor</b></label>
                            </div>
                            <div *ngIf="assignedDrivers.length < 1" class="ml-auto form-inline">
                                <div class="btn-group">
                                    <a data-toggle="modal" href="#add_driver" (click)="getDrivers()" class="btn btn-primary btn-tracing"><i class="fas fa-user"></i>
                                        &nbsp;Agregar Conductor
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered col-sm-12">

                            <thead class="thead-blue medium-tab">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Placa</th>
                            <th>Vehiculo</th>
                            <th>* *</th>

                            <tbody class="medium-tab">
                            <tr *ngFor="let assigned of assignedDrivers">
                                <td>{{assigned.driver.name}}</td>
                                <td>{{assigned.driver.lastname}}</td>
                                <td>{{assigned.driver.dni}}</td>
                                <td>{{assigned.vehicle_plate}}</td>
                                <td>{{assigned.vehicle_alias}}</td>
                                <td style="vertical-align: middle; width: 40px">
                                    <a class="btn btn-danger btn-xs" title="Eliminar" data-toggle="modal" href="#modal_delete_driver"
                                       (click)="confirmDeleteDriver(assigned);" style="padding: 0px 4px;"><span class="fas fa-trash-alt"></span></a>
                                </td>
                            </tr>

                            <th colspan="9" *ngIf="assignedDrivers.length == 0">
                                <div style="font-size: 1.2rem">
                                    Sin información....
                                </div>
                            </th>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group row" *ngIf="containsOrder">
                    <div class="col-sm-12" style="border: black">
                        <div class="container-fluid row mx-auto mt-2" style="padding: 6px">
                            <div class="mr-auto row ml-2 form-inline">
                                <label class="mr-1"><b>Estibas</b></label>
                            </div>
                            <div class="ml-auto form-inline">
                                <div class="btn-group">
                                    <a data-toggle="modal" href="#add_loader" (click)="getLoaders()" class="btn btn-success btn-tracing"><i class="fas fa-user"></i>
                                        &nbsp;Agregar Estiba
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered col-sm-12">

                            <thead class="thead-dark medium-tab">
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>

                            <th>* *</th>

                            <tbody class="medium-tab">
                            <tr *ngFor="let assigned of assignedLoaders">
                                <td>{{assigned.loader.dni}}</td>
                                <td>{{assigned.loader.name}}</td>
                                <td>{{assigned.loader.lastname}}</td>
                                <td>{{assigned.loader.phone}}</td>
                                <td style="vertical-align: middle; width: 40px">
                                    <a class="btn btn-danger btn-xs" title="Eliminar" data-toggle="modal" href="#modal_delete_loader"
                                       (click)="confirmDeleteLoader(assigned);" style="padding: 0px 4px;"><span class="fas fa-trash-alt"></span></a>
                                </td>
                            </tr>

                            <th colspan="5" *ngIf="assignedLoaders.length == 0">
                                <div style="font-size: 1.2rem">
                                    Sin información....
                                </div>
                            </th>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group row" *ngIf="containsOrder">
                    <div class="col-sm-12">
                        <div class="container-fluid row mx-auto mt-2" style="padding: 6px">
                            <div class="mr-auto row ml-2 form-inline">
                                <label class="mr-1"><b>Contactos</b></label>
                            </div>
                            <div class="ml-auto form-inline">
                                <div class="btn-group">
                                    <a data-toggle="modal" href="#add_contact" (click)="getContacts()" class="btn btn-success btn-tracing"><i class="fas fa-user"></i>
                                        &nbsp;Agregar Contacto
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered col-sm-12">

                            <thead class="thead-blue medium-tab">
                            <th>Tipo</th>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Telefono</th>

                            <tbody class="medium-tab">
                            <tr *ngFor="let contact of orderContacts">
                                <td>{{contact.type}}</td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.dni}}</td>
                                <td>{{contact.phone}}</td>
                            </tr>

                            <th colspan="4" *ngIf="orderContacts.length == 0">
                                <div style="font-size: 1.2rem">
                                    Sin información....
                                </div>
                            </th>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row mt-4 col-sm-12" style="justify-content: space-around">
                    <a class="btn btn-info btn-block col-md-3" style="color: white;" routerLink="/u/control/proyectos"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal"  tabindex="-1"  role="dialog" id="add_route">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="modalOrigin" class="modal-header" style="background-color: #343a40; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Origen</h4>
            </div>
            <div *ngIf="!modalOrigin" class="modal-header" style="background-color: #1e7e34; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Destino</h4>
            </div>
            <div class="modal-body scrolled">
                <div style="display: flex; overflow: hidden">
                    <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control input-medium" placeholder="Buscar" [(ngModel)]="filterValue">
                    <div class="btn-group">
                        <a routerLink="/u/control/puntos"
                           data-dismiss="modal"
                           class="btn btn-success btn-tracing"
                           style="height: 30px; margin-left: 8px">
                            <i class="fas fa-plus-circle"></i>
                            &nbsp;Nuevo
                        </a>
                    </div>
                </div>
                <div class="add-vehicle-cont">
                    <table class="table table-bordered">
                        <thead class="thead-light medium-tab">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Región</th>
                            <th>Ciudad</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                        </tr>
                        </thead>
                        <tbody class="medium-tab">
                        <tr *ngFor="let site of points | filter: filterValue" data-dismiss="modal"
                            style="cursor: pointer" (click)="selectSite(site);" data-toggle="modal" href="#add_origin_date">
                            <td>{{site.id}}</td>
                            <td>{{site.name}}</td>
                            <td>{{site.province}}</td>
                            <td>{{site.city}}</td>
                            <td>{{site.latitude}}</td>
                            <td>{{site.longitude}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal"  tabindex="-1"  role="dialog" id="add_origin_date">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="modalOrigin" class="modal-header" style="background-color: #343a40; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Origen</h4>
            </div>
            <div *ngIf="!modalOrigin" class="modal-header" style="background-color: #1e7e34; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Destino</h4>
            </div>
            <div class="modal-body scrolled">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Región</label>
                    <div class="col-sm-4">

                        <select disabled class="form-control input-medium" [(ngModel)]="routeSelected.province" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label lab-grid left">Ciudad</label>
                    <div class="col-sm-5">
                        <select disabled class="form-control input-medium" [(ngModel)]="routeSelected.city" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Dirección</label>
                    <div class="col-sm-11">
                        <input readonly type="text" class="form-control input-medium" placeholder="Introduzca la dirección" [(ngModel)]="routeSelected.address" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Fecha</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control input-medium" [(ngModel)]="routeSelected.date" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label lab-grid left">Hora</label>
                    <div class="col-sm-5">
                        <input type="time" class="form-control input-medium" [(ngModel)]="timeSelected" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Bultos</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control input-medium" [(ngModel)]="routeSelected.bulls" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row" *ngIf="!modalOrigin">
                    <label class="col-sm-1 col-form-label lab-grid left">Ele. PEP</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-medium" [(ngModel)]="routeSelected.pep" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row" *ngIf="!modalOrigin">
                    <label class="col-sm-1 col-form-label lab-grid left">Tanager</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-medium" [(ngModel)]="routeSelected.tanager" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Latitud</label>
                    <div class="col-sm-4">
                        <input readonly class="form-control input-medium" value="{{routeSelected.latitude}}">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label lab-grid left">Longitud</label>
                    <div class="col-sm-5">
                        <input readonly class="form-control input-medium" value="{{routeSelected.longitude}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Notas</label>
                    <div class="col-sm-11">
                        <textarea rows="5" cols="8" [(ngModel)]="routeSelected.comment" [ngModelOptions]="{standalone: true}" placeholder="(Opcional)" class="form-control input"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="saveRoute()">Agregar</button>
                <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal"  tabindex="-1"  role="dialog" id="add_contact">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1e7e34; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Contacto</h4>
            </div>
            <div class="modal-body scrolled">
                <div style="display: flex; overflow: hidden">
                    <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control input-medium" placeholder="Buscar" [(ngModel)]="filterValue">
                    <div class="btn-group">
                        <a routerLink="/u/control/contactos"
                           data-dismiss="modal"
                           class="btn btn-success btn-tracing"
                           style="height: 30px; margin-left: 8px">
                            <i class="fas fa-plus-circle"></i>
                            &nbsp;Nuevo
                        </a>
                    </div>
                </div>
                <div class="add-vehicle-cont">
                    <table class="table table-bordered">
                        <thead class="thead-light medium-tab">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Creado</th>
                        </tr>
                        </thead>
                        <tbody class="medium-tab">
                        <tr *ngFor="let contact of contacts | filter: filterValue" data-dismiss="modal"
                            style="cursor: pointer" (click)="selectContact(contact);" data-toggle="modal" href="#add_contact_type">
                            <td>{{contact.id}}</td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.dni}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.create_at | date : "medium"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal"  tabindex="-1"  role="dialog" id="add_contact_type">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1e7e34; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Contacto</h4>
            </div>
            <div class="modal-body scrolled">

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Nombre</label>
                    <div class="col-sm-11">
                        <input readonly type="text" class="form-control input-medium" [(ngModel)]="contactSelected.name" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Cedula</label>
                    <div class="col-sm-4">
                        <input readonly type="text" class="form-control input-medium" [(ngModel)]="contactSelected.dni" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label lab-grid left">Telefono</label>
                    <div class="col-sm-5">
                        <input readonly type="text" class="form-control input-medium" [(ngModel)]="contactSelected.phone" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label lab-grid left">Tipo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control input-medium" placeholder="Ejemplo: Solicitante, Quien recibe, Quien Entrega, etc..." [(ngModel)]="contactSelected.type" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="saveContact()">Agregar</button>
                <button #closeModalType type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal"  tabindex="-1"  role="dialog" id="add_driver">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Conductor</h4>
            </div>
            <div class="modal-body scrolled">
                <div style="display: flex; overflow: hidden">
                    <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control input-medium" placeholder="Buscar" [(ngModel)]="filterValue">
                    <div class="btn-group">
                        <a routerLink="/u/control/guardia"
                           data-dismiss="modal"
                           class="btn btn-primary btn-tracing"
                           style="height: 30px; margin-left: 8px">
                            <i class="fas fa-plus-circle"></i>
                            &nbsp;Nuevo
                        </a>
                    </div>
                </div>
                <div class="add-vehicle-cont">
                    <table class="table table-bordered">
                        <thead class="thead-light medium-tab">
                        <tr>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Vehiculo</th>
                            <th>Placa</th>
                        </tr>
                        </thead>
                        <tbody class="medium-tab">
                        <tr *ngFor="let driver of drivers | filter: filterValue" data-dismiss="modal"
                            style="cursor: pointer" (click)="saveDriver(driver);">
                            <td>{{driver.name}}</td>
                            <td>{{driver.dni}}</td>
                            <td>{{driver.phone}}</td>
                            <td>{{driver.vehicle_plate ? (driver.claro_vehicle ? driver.claro_vehicle.alias : driver.tms_vehicle.alias) : "" }}</td>
                            <td>{{driver.vehicle_plate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>




<div class="modal"  tabindex="-1"  role="dialog" id="add_loader">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff; color: white;">
                <h4 class="modal-title" style="margin: 0">Añadir Estiba</h4>
            </div>
            <div class="modal-body scrolled">
                <div style="display: flex; overflow: hidden">
                    <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control input-medium" placeholder="Buscar" [(ngModel)]="filterValue">
                    <div class="btn-group">
                        <a routerLink="/u/control/estibas"
                           data-dismiss="modal"
                           class="btn btn-primary btn-tracing"
                           style="height: 30px; margin-left: 8px">
                            <i class="fas fa-plus-circle"></i>
                            &nbsp;Nuevo
                        </a>
                    </div>
                </div>
                <div class="add-vehicle-cont">
                    <table class="table table-bordered">
                        <thead class="thead-light medium-tab">
                        <tr>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                        </tr>
                        </thead>
                        <tbody class="medium-tab">
                        <tr *ngFor="let loader of loaders | filter: filterValue" data-dismiss="modal"
                            style="cursor: pointer" (click)="saveLoader(loader);">
                            <td>{{loader.dni}}</td>
                            <td>{{loader.name}}</td>
                            <td>{{loader.lastname}}</td>
                            <td>{{loader.phone}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--INIT MODAL DELETE ROUTE-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_route">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-delete">
                <h5 class="modal-title">Eliminar Ruta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar esta ruta {{deleteRouteName}} de este proyecto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteRoute()" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL DELETE ROUTE-->

<!--INIT MODAL DELETE DRIVER-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_driver">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-delete">
                <h5 class="modal-title">Eliminar Conductor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el conductor {{deleteDriverName}} de este proyecto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteDriver()" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL DELETE DRIVER-->

<!--INIT MODAL DELETE LOADER-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_loader">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-delete">
                <h5 class="modal-title">Eliminar Estiba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar el estiba {{deleteLoaderName}} de este proyecto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteLoader()" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL DELETE LOADER-->










