<div class="info-container panel panel-default">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/proyectos" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Logistica del proyecto: {{project.name}}</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getOrders()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modal_create"><i class="fas fa-plus-circle"></i>
                    Añadir Logistica
                </a>
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('name')">Tracking
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('name')">Cen. Costo
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('name')">Camion
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('address')">Destinos
                <span class="fas" *ngIf="key =='address'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('status')">Estibas
                <span class="fas" *ngIf="key =='status'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Región
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Ciudad
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            </thead>
            <tbody>
            <tr class="proj" (click)="showDetailsView(d)" style="cursor: pointer" *ngFor="let d of data | filter:filter | orderBy: key : reverse">
                <td>{{d.id}}</td>
                <td>{{d.cost_center}}</td>
                <td>{{d.description}}</td>
                <td>{{d.routers}}</td>
                <td>{{d.loaders}}</td>
                <td>{{d.region}}</td>
                <td>{{d.city}}</td>

            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin proyectos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>










