<div class="info-container panel panel-default">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Contactos</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1">
                <b>Mostrar:</b>
            </label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modal_create"><i class="fas fa-plus-circle"></i>
                    Añadir Contacto
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-2" placeholder="Buscar" name="search" [(ngModel)]="filter">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('dni')">Cedula
                <span class="fas" *ngIf="key =='dni'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('phone')">Telefono
                <span class="fas" *ngIf="key =='phone'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Creado
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.name}}</td>
                <td>{{d.dni}}</td>
                <td>{{d.phone}}</td>
                <td>{{d.create_at | date : "medium"}}</td>
                <td>
                    <a class="btn btn-warning" data-toggle="modal" (click)="editModal(d)" href="#modal_edit" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger m-left" data-toggle="modal" (click)="deleteModal(d)" href="#modal_delete" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin contactos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>

    <!--INIT MODAL CREATE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-create">
                    <h5 class="modal-title">Agregar Contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-item">
                        <label><b>Nombre</b></label>
                        <input class="form-control" type="text" placeholder="Nombre del contacto" [(ngModel)]="newName">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Cedula</b></label>
                        <input class="form-control" type="text" placeholder="Cedula del contacto" [(ngModel)]="newDni">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Telefono</b></label>
                        <input class="form-control" type="text" placeholder="Telefono del contacto" [(ngModel)]="newPhone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="create()" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CREATE-->

    <!--INIT MODAL EDIT-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-edit">
                    <h5 class="modal-title">Editar Contacto {{editName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-item">
                        <label><b>Nombre</b></label>
                        <input class="form-control" type="text" placeholder="Nombre del contacto" [(ngModel)]="editName">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Cedula</b></label>
                        <input class="form-control" type="text" placeholder="Descripción del contacto" [(ngModel)]="editDni">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Telefono</b></label>
                        <input class="form-control" type="text" placeholder="Telefono del contacto" [(ngModel)]="editPhone">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="edit()" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL EDIT-->

    <!--INIT MODAL DELETE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-delete">
                    <h5 class="modal-title">Eliminar Contacto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el contacto {{deleteName}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL DELETE-->
</div>
