<main class="monitoring-container">
    <as-split direction="horizontal">
        <as-split-area size="40">
            <app-tracing [vehicles]="vehicles" [showMarker]="showMarker"></app-tracing>
        </as-split-area>
        <as-split-area size="60">
            <app-map-osm [markerChanged]="markerChanged" [showMarker]="showMarker" [markersData]="markersData"
                         [searching]="updatingMap" [vehicles]="vehicles"  [tablets]="tablets" [lat]="lat"
                         [lng]="lng" (updateEvent)="updateMap($event)"
                         [zoom]="zoom">
            </app-map-osm>
        </as-split-area>
    </as-split>
</main>