.monitoring-container{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    display: flex;
}

app-monitoring{
    height: 100%;
    width: 100%;
}

app-map-osm {
    height: 100%;
    width: 100%;
}

