app-control {
    height: 100%;
    width: 100%;
}

.control-container{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

app-control-aside{
    height: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
}