<div class="background-container">

    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">

                <div class="text-center">
                    <div class="form-group" style="margin: 0">
                        <img src="../../favicon.png" style="border-radius: 5px; background: white; height: 140px;">
                    </div>
                    <h2 style="color: var(--primary-color); margin: 0">LOG <span style="color: var(--accent-color)">COURIER </span></h2>
                    <h5 style="color: var(--primary-color)">LOGISTICA INTEGRAL CIA. LTDA</h5>
                </div>
            </div>

            <form class="col-md-6 login-form-2 animation-fadeIn" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h3>Ingreso</h3>
                <div class="form-group">
                    <input type="text" formControlName="dni" class="form-control" placeholder="Tu usuario *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Tu contraseña *" value="" />
                </div>
                <div class="loader" *ngIf="loading"></div>
                <div class="form-group text-center">
                    <input [disabled]="loading" *ngIf="!loading disable" type="submit" class="btnSubmit" value="Ingresar" />
                </div>
                <div class="form-group text-center">
                    <a href="#" class="btnForgetPwd" value="Login">¿Olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>

    <div class="container-version">
        <p style="color: gray; font-size: 12px">Versión: {{systemVersion}}</p>
    </div>

</div>
