.background-container{
    background-image: url("../../assets/neat_blue.jpg");
    repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-version {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-version p {
    padding: 0;
    margin: 0;
    padding-right: 6px;
}

.simple-login-container{
    width:400px;
    padding: 36px;
    padding-top: 70px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -webkit-box-shadow: 0 0 7px 7px rgba(102,102,102, 0.6);
    box-shadow: 0 0 7px 7px rgba(102,102,102, 0.6);
    background-color: #AA2334;
    color: rgba(74, 64, 72, 0.6);

}
.simple-login-container h2{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:20px;
    color: white;
    font-weight: bold;
}

.simple-login-container .btn-login{
    width: 100%;
    background: rgba(102, 102, 102, 0.6);
    background-image: -webkit-linear-gradient(top, #4A4048, #666666);
    background-image: -moz-linear-gradient(top,  #4A4048, #666666);
    background-image: -ms-linear-gradient(top, #4A4048, #666666);
    background-image: -o-linear-gradient(top, #4A4048, #666666);
    background-image: linear-gradient(to bottom, #4A4048, #666666);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 3% 24% 3% 24%;
    border: solid #666666 2px;
    text-decoration: none;

}

.simple-login-container .btn-login:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666 );
    background-image: -moz-linear-gradient(top, #666666 );
    background-image: -ms-linear-gradient(top,  #666666 );
    background-image: -o-linear-gradient(top,  #666666 );
    background-image: linear-gradient(to bottom, #666666);
    text-decoration: none;
}

.btn-login:active {
    background-color: yellow;
}

.form-control {
    color: white; border-radius: 6px 6px 6px 6px;
    border: 1.5px solid #96989a;
    background-color: #ffffff;
    color: #4A4048;
    font-size: 20px;

}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 45px;
    height: 45px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    align-items: center;
    margin: auto;
    position: relative;
    margin-top: 5%;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login-container{

}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    background: #0062CD;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}
