@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css";

.control-container{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

agm-map {
    height: 350px;
}

app-control {
    height: 100%;
    width: 100%;
}

.thead-light>th {
    cursor: pointer;
}

aside{
    list-style: none;
    height: 100%;
    min-height: 100vh;
    width: 350px;
    background-color: var(--secondary-color);
    padding: 0 0 0 5px;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
}

main {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
}

.filtros {
    font-size: 1rem;
}

.card-header {
    height: 50px;
}

.map {
    height: 350px;
    width: 100%;
}

.mapchart {
    height: 700px;
    width: 100%;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.image-detail-gallery {
    background: #D9D9D9;
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    object-position: center;
    margin: 0 12px;
}

.image-detail-photo {
    background: #D9D9D9;
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    object-position: center;
    margin: 0 12px;
}

.image-detail-photo-full {
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    height: auto;
    min-height: 400px;
    width: auto;
    object-position: center;
}

.container-fluid {
    padding-top: 4px;
}

.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem;
    cursor: pointer;
}

.bubble-reply {
    position: relative;
    background-color: #ebedf0;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    border-radius: 18px;
}

.text-reply {
    font-weight: normal;
    color: #1d2129;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

.user-reply {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

.date-reply {
    color: #666;
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.update-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: 0;
    font-size: 1em;
    line-height: 0.6em;
    color: #ffffff;
    background-color: var(--secondary-color);
    margin: auto auto auto 16px;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    position: relative;
}

.update-circle-button:hover {
    color: #ffffff;
    background-color: #444;
}

.inactive{
    color: red;
}

.active{
    color: green;
}

.wait{
    color: #FDBA00;
}

.delivery {
    color: #007bff;
}