<div class="info-container panel panel-default" *ngIf="listView">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/proyectos" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Reportes: {{project.name}}</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getReports()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group">
                <a class="btn btn-dark" style="color: white" data-toggle="modal" href="#modal_create"><i class="fas fa-plus-circle"></i>
                    Crear Reporte
                </a>
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('title')">Incidencia
                <span class="fas" *ngIf="key =='title'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('observation')">Observación
                <span class="fas" *ngIf="key =='observation'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_date')">Fecha
                <span class="fas" *ngIf="key =='create_date'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('resolved')">Estado
                <span class="fas" *ngIf="key =='resolved'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Detalle</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | orderBy: key : reverse  | paginate: { itemsPerPage: numElement, currentPage: p }">

                <td [ngClass]="{'inactive':d.level == 2,'active':d.title === 'PICKUP','delivery':d.title === 'DELIVERY'}">
                    <b>{{d.user_title}}</b>
                </td>
                <td>{{d.observation}}</td>
                <td>{{d.create_at | date : 'medium'}}</td>
                <td><span *ngIf="d.resolved == 0" class="text-danger">Cerrado</span><span *ngIf="d.resolved == 1" class="text-success">Abierto</span><span *ngIf="d.resolved == 2" class="text-success">Reabierto</span></td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d)"  title="Detalle"><span class="far fa-eye"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin reportes para esta selección. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>

    <!--INIT MODAL CREATE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Reporte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-item">
                        <label><b>Tipo</b></label>
                        <!--<input class="form-control" type="text" placeholder="Nombre del contacto" [(ngModel)]="newName">-->
                        <select class="form-control" [(ngModel)]="incidenceSelected" (change)="getSearch()" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let i of incidences" [ngValue]="i.id">{{i.name}}</option>
                        </select>
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Titúlo</b></label>
                        <input class="form-control" type="text" placeholder="Titúlo" [(ngModel)]="title">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Observación</b></label>
                    </div>
                    <div class="modal-item">
                        <textarea rows="10" class="form-control" placeholder="Ingrese la observación" [(ngModel)]="observation" [ngModelOptions]="{standalone: true}" style="width: 100%"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="create()" data-dismiss="modal">Crear</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CREATE-->
</div>

<div class="info-container panel panel-default" *ngIf="showView">
    <div class="row panel-heading mb-2" style="background-color: #f6f6f6; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalles de Reporte</h3>
        </div>
        <div class="ml-auto" style="margin-top: 25px; margin-right: 60px; display: none">
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form  role="form">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Incidencia</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{selectedReport.user_title}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Observación</label>
                    <div class="col-sm-10">
                        <textarea rows="6" cols="10" readonly class="form-control input">{{selectedReport.observation}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-3">
                        <input type="text" readonly class="form-control" value="{{selectedReport.create_at | date : 'medium'}}">
                    </div>
                </div>

                <div *ngIf="selectedReport.admin_id == null">
                    <div class="form-group row">
                        <label for="dni" class="col-sm-2 col-form-label">Latitud</label>
                        <div class="col-sm-4">
                            <input type="number" readonly class="form-control" value="{{selectedReport.latitude}}">
                        </div>
                        <label for="dni" class="col-sm-2 col-form-label">Longitud</label>
                        <div class="col-sm-4">
                            <input type="number" readonly class="form-control" value="{{selectedReport.longitude}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dni" class="col-sm-2 col-form-label">Mapa</label>
                        <div class="col-sm-10">
                            <div class="map"
                                 leaflet
                                 [leafletOptions]="options"
                                 [(leafletZoom)]="zoom"
                                 [(leafletCenter)]="center"
                                 [leafletBaseLayers]="baseLayers"
                                 [leafletLayersControlOptions]="layersControlOptions"
                                 (leafletMapReady)="onMapReady($event)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Imagenes</label>
                        <a [hidden]="!selectedReport.image_1" data-toggle="modal" href="#image1"><img src="{{selectedReport.image_1}}" class="image-detail-gallery"></a>
                        <a [hidden]="!selectedReport.image_2" data-toggle="modal" href="#image2"><img src="{{selectedReport.image_2}}" class="image-detail-gallery"></a>
                        <a [hidden]="!selectedReport.image_3" data-toggle="modal" href="#image3"><img src="{{selectedReport.image_3}}" class="image-detail-gallery"></a>
                        <a [hidden]="!selectedReport.image_4" data-toggle="modal" href="#image4"><img src="{{selectedReport.image_4}}" class="image-detail-gallery"></a>
                        <a [hidden]="!selectedReport.image_5" data-toggle="modal" href="#image5"><img src="{{selectedReport.image_5}}" class="image-detail-gallery"></a>
                    </div>
                    <!--Modal: modalVM-->
                    <div class="modal fade" id="image1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                                    <img src="{{selectedReport.image_1}}" class="image-detail-photo-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalVM-->
                    <div class="modal fade" id="image2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                                    <img src="{{selectedReport.image_2}}" class="image-detail-photo-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalVM-->
                    <div class="modal fade" id="image3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                                    <img src="{{selectedReport.image_3}}" class="image-detail-photo-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalVM-->
                    <div class="modal fade" id="image4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                                    <img src="{{selectedReport.image_4}}" class="image-detail-photo-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: modalVM-->
                    <div class="modal fade" id="image5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                                    <img src="{{selectedReport.image_5}}" class="image-detail-photo-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label"><b>Conductor</b></label>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control" id="name" value="{{selectedReport.guard.name}}">
                        </div>
                        <label for="lastname" class="col-sm-2 col-form-label">Apellido</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control" id="lastname" value="{{selectedReport.guard.lastname}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dni" class="col-sm-2 col-form-label">Cédula</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control" id="dni" value="{{selectedReport.guard.dni}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telefono</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control" value="{{selectedReport.guard.phone}}">
                        </div>
                        <label class="col-sm-2 col-form-label">Vehiculo</label>
                        <div class="col-sm-4">
                            <input type="text" readonly class="form-control" value="{{selectedReport.guard.vehicle}}">
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-group row mt-2" style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                    <label class="col-sm-3 col-form-label" *ngIf="hasComments"><b>Comentarios</b></label>
                    <label class="col-sm-3 col-form-label" *ngIf="!hasComments"><b>Sin comentarios</b></label>

                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; justify-content: flex-end; padding-right: 16px;">
                        <button class="btn btn-success" *ngIf="selectedReport.resolved == 0" (click)="changeResolve(selectedReport, selectedReport.resolved)">Permitir Comentarios</button>
                        <button class="btn btn-danger" *ngIf="selectedReport.resolved != 0" (click)="changeResolve(selectedReport, selectedReport.resolved)">No Permitir mas Comentarios</button>
                        <button style="width: 30vw; margin-left: 8px" class="btn btn-success col-md-3" *ngIf="selectedReport.resolved != 0 && !addComment" (click)="addComment = true">Agregar comentario</button>
                    </div>
                </div>
                <div>
                    <div class="form-group row mt-2" *ngIf="addComment">
                        <label class="col-sm-2 col-form-label">Nuevo Comentario</label>
                        <div class="col-sm-8">
                            <textarea [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo comentario" style="width: 100%"></textarea>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger" (click)="saveComment()">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div *ngFor="let c of comments">
                        <div class="bubble-reply">
                            <p class="user-reply">{{c.user_name}} <span class="text-reply">{{c.text}}</span></p>
                            <p class="date-reply">{{c.create_at | agoTime}}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="returnList()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>



