<div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/vigilancia" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Puestos</h3>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modalnew"><i class="fas fa-plus-circle"></i>
                    Añadir Puesto
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar Puesto" [(ngModel)]="filter">
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="modalnew">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #28a745; color: white;">
                            <h5 class="modal-title">Agregar Puesto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="margin-left: 10px" class="form-group mt-4 mb-4">
                            <label class="ml-1 mr-3"><b>Nombre *</b></label>
                            <input type="text" name="newname" class="form-control" placeholder="Nombre del puesto" [(ngModel)]="newname" style="width: 80%; float: right;">
                            <label class="ml-1 mr-2"><b style="margin-top: 15px">Descripción</b></label>
                            <input type="text" name="newaddress" class="form-control" placeholder="Descripción del puesto (Opcional)" [(ngModel)]="newaddress" style="width: 80%; float: right; margin-top: 20px">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="guardarPuesto()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
                <th style="width: 10%">ID</th>
                <th style="width: 30%">Nombre</th>
                <th style="width: 30%">Descripción</th>
                <th style="width: 30%">Acción</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | filter:filter ">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td>{{d.address}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="setValues(d)" data-toggle="modal" href="#edit{{d.id}}" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
                <!-- Modal Eliminar -->
                <div class="modal" tabindex="-1" role="dialog" id="modal{{d.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Puesto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar el puesto de {{d.name}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deletePuesto(d.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Editar -->
                <div class="modal" tabindex="-1" role="dialog" id="edit{{d.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #ffc107; color: white;">
                                <h5 class="modal-title">Editar Puesto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group mt-4 mb-4">
                                <div style="margin-left: 15px" class="form-inline">
                                    <label class="ml-1 mr-3"><b>Nombre</b></label>
                                    <input type="text" name="newname" class="form-control" placeholder="Inserte nombre" [(ngModel)]="editname" style="width: 80%;">
                                </div>
                                <div style="margin-left: 15px" class="form-inline mt-2">
                                    <label class="ml-1 mr-2"><b>Descripción</b></label>
                                    <input type="text" name="newaddress" class="form-control" placeholder="Inserte Descripción" [(ngModel)]="editaddress" style="width: 80%;">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" (click)="editPuesto(d.id)" data-dismiss="modal">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
</div>

<div class="info-container panel panel-default map-panel" *ngIf="detalle">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Detalle del puesto - {{editnombre}}</h3>
    </div>
    <form role="form">
        <div class="panel-body mt-2">
            <div class="table-container container">
                <div class="form-group" style="display: flex;">
                    <a class="btn btn-info ml-auto" data-toggle="modal" href="#tablet" (click)="filterValue = ''" style="border: none; color: #fff" ><i class="fas fa-plus-circle mr-2"></i>Agregar Tablet</a>
                    <a class="btn btn-secondary ml-2 mr-3" data-toggle="modal" href="#guardia" (click)="filterValue = ''" style="background-color: #28a745; border: none; color: #fff" ><i class="fas fa-plus-circle mr-2"></i>Agregar Guardia</a>
                    <!--ADD TABLET MODAL -->
                    <div class="modal"  tabindex="-1"  role="dialog" id="tablet">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #c82333; color: white;">
                                    <h5 class="modal-title">Añadir Tablets</h5>
                                </div>
                                <div class="modal-body scrolled">
                                    <div style="display: flex; overflow: hidden">
                                        <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control" placeholder="Buscar" [(ngModel)]="filterValue">
                                    </div>
                                    <div class="add-vehicle-cont">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th width="40px">*</th>
                                                    <th width="50px">ID</th>
                                                    <th>Alias</th>
                                                    <th>IMEI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tabs of tabletsList | filter: filterValue"
                                                    (click)="tabs.checked = !tabs.checked"
                                                    style="cursor: pointer">
                                                    <td class="checkbox-vehicle">
                                                        <input
                                                                #tabletChecked
                                                                type="checkbox"
                                                                value="{{tabs.id}}"
                                                                [(ngModel)]="tabs.checked"
                                                                [ngModelOptions]="{standalone: true}"/>
                                                    </td>
                                                    <td>{{tabs.id}}</td>
                                                    <td>{{tabs.alias}}</td>
                                                    <td>{{tabs.imei}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="addTabsToPuesto()" data-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ADD GUARDIA MODAL -->
                    <div class="modal"  tabindex="-1"  role="dialog" id="guardia">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #c82333; color: white;">
                                    <h5 class="modal-title">Añadir Guardias</h5>
                                </div>
                                <div class="modal-body scrolled">
                                    <div style="display: flex; overflow: hidden">
                                        <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control" placeholder="Buscar" [(ngModel)]="filterValue">
                                    </div>
                                    <div class="add-vehicle-cont">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <th width="40px">*</th>
                                                <th width="50px">ID</th>
                                                <th>Cedula</th>
                                                <th>Nombre</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let guard of guardiasList | filter: filterValue"
                                                (click)="guard.checked = !guard.checked"
                                                style="cursor: pointer">
                                                <td class="checkbox-vehicle">
                                                    <input
                                                            #tabletChecked
                                                            type="checkbox"
                                                            value="{{guard.id}}"
                                                            [(ngModel)]="guard.checked"
                                                            [ngModelOptions]="{standalone: true}"/>
                                                </td>
                                                <td>{{guard.id}}</td>
                                                <td>{{guard.dni}}</td>
                                                <td>{{guard.name}} {{guard.lastname}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="addGuardToPuesto()" data-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table mt-2 container-fluid">
                    <div><b>Tablets</b></div>
                    <table class="table table-bordered">
                        <thead  class="thead-light">
                        <th style="width: 20%">Alias</th>
                        <th style="width: 60%">IMEI</th>
                        <th style="width: 20%">Eliminar</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tabs of tabletspuesto">
                            <td>{{tabs.alias}}</td>
                            <td>{{tabs.imei}}</td>
                            <td>
                                <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{tabs.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                            </td>
                            <div class="modal" tabindex="-1" role="dialog" id="modal{{tabs.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #c82333; color: white;">
                                            <h5 class="modal-title">Eliminar Cerco Virtual</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Está seguro que desea eliminar el cerco  ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" (click)="deleteTablet(tabs.id)" data-dismiss="modal">Eliminar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                    <div><b>Guardias</b></div>
                    <table class="table table-bordered">
                        <thead  class="thead-light">
                        <th style="width: 20%">Cédula</th>
                        <th style="width: 60%">Nombre</th>
                        <th style="width: 20%">Eliminar</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let guard of guardiaspuesto">
                            <td>{{guard.dni}}</td>
                            <td>{{guard.name}} {{guard.lastname}}</td>
                            <td>
                                <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{guard.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                            </td>
                            <div class="modal" tabindex="-1" role="dialog" id="modal{{guard.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #c82333; color: white;">
                                            <h5 class="modal-title">Eliminar Cerco Virtual</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Está seguro que desea eliminar el cerco  ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" (click)="deleteGuardia(guard.id)" data-dismiss="modal">Eliminar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                    <div class="row mt-4 mr-1 back-save-btn">
                        <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
