<aside>
    <div id="accordion">
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/proyectos" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-list-ol text-center"></i>
            <span>Proyectos</span>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/puntos" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-map-marked text-center"></i>
            <span>Ubicaciónes</span>
        </a>
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/contactos" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-users text-center"></i>
            <span>Contactos</span>
        </a>
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/bitacora/reportfilter" [routerLinkActive]="['active']" title="Guardias">-->
            <!--<i class="fas fa-comments text-center"></i>-->
            <!--<span>Bitacora</span>-->
        <!--</a>-->
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/admin" [routerLinkActive]="['active']" title="Administradores">
            <i class="fas fa-user-shield text-center"></i>
            <span>Administradores</span>
        </a>
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/conductores" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-user text-center"></i>
            <span>Conductores</span>
        </a>
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/estibas" [routerLinkActive]="['active']" title="Guardias">
            <i class="fas fa-user-plus text-center"></i>
            <span>Estibas</span>
        </a>
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/vehiculos" [routerLinkActive]="['active']" title="Vehiculos">
            <i class="fas fa-car text-center"></i>
            <span>Vehiculos</span>
        </a>
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/flota" [routerLinkActive]="['active']" title="Vehiculos Flota">
            <i class="fas fa-truck text-center"></i>
            <span>Vehiculos Flota</span>
        </a>
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/bitacora/tipos" [routerLinkActive]="['active']" title="Incidencias">
            <i class="fas fa-bell text-center"></i>
            <span>Incidencias</span>
        </a>
        <!--<a style="max-height: 53px;" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/bitacora" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']" title="Bitacora">-->
            <!--<i class="fas fa-list-ol"></i>-->
            <!--<span *ngIf="unreadReplies > 0" style="background: red; padding: 0 4px; border-radius: 40%; color: white; font-size: .8rem;">{{unreadReplies}}</span>-->
        <!--</a>-->
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/vigilancia" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Vigilancia">-->
            <!--<i class="fas fa-tablet-alt"></i>-->
        <!--</a>-->
        <a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/cerco" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Cerco Virutal">
            <i class="fas fa-map-marked text-center"></i>
            <span>Cerco Virtual</span>
        </a>
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/cerco/grupos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Grupos de cercos">-->
            <!--<i class="fas fa-map-marked text-center"></i>-->
            <!--<span>Grupos de Cercos</span>-->
        <!--</a>-->
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/operatividad" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Cerco Virutal">-->
            <!--<i class="fas fa-clock"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/historial" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Historial">-->
            <!--<i class="fas fa-history"></i>-->
        <!--</a>-->
        <!--<a class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/empresas" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}" title="Empresas">-->
            <!--<i class="fas fa-briefcase"></i>-->
        <!--</a>-->
        <a *ngIf="permit" class="btn btn-secondary btn-aside_menu" role="button" routerLink="/u/control/configuracion" [routerLinkActive]="['active']" title="Configuracion">
            <i class="fas fa-cog text-center"></i>
            <span>Configuracion</span>
        </a>
    </div>
</aside>
