aside {
    list-style: none;
    height: 100%;
    width: 200px;
    background-color: white;

    border-right: 1px solid rgba(0, 0, 0, 0.50);
}

#accordion a i {
    font-size: 1.1rem !important;
}

.btn-aside_menu {
    width: 100%;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.50);
}

.btn-aside_menu:hover {
    color: rgba(0, 0, 0, 0.80);
    border-radius: 0;
}

.btn-aside_menu.active {
    background-color: var(--secondary-color);
    border-radius: 0;
}

.fas {
    width: 22px;
    margin-top: 3px;
    float: left;
}

.btn-aside_menu span {
    padding-left: 8px;
}