

<div class="info-container panel panel-default" *ngIf="listView">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Estibas</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto  form-inline">
            <div class="btn-group">
                <a class="btn btn-success" style="color: white" (click)="showCreateView()"><i class="fas fa-plus-circle"></i>
                    Añadir Estiba
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto  form-inline">
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar" name="search" [(ngModel)]="filter">
            </div>
        </div>
        <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
            <label class="btn btn-outline-secondary" (click)="excelDownload()">
                <input type="radio" name="options" autocomplete="off" checked> Excel
            </label>
            <label class="btn btn-outline-secondary" (click)="pdfDownload()">
                <input type="radio" name="options" autocomplete="off"> PDF
            </label>
            <label class="btn btn-outline-secondary" (click)="print()">
                <input type="radio" name="options" autocomplete="off"> Print
            </label>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('id')">ID
                <span class="fas" *ngIf="key =='id'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('dni')">Cédula
                <span class="fas" *ngIf="key =='dni'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('lastname')">Apellido
                <span class="fas" *ngIf="key =='lastname'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('phone')">Telefono
                <span class="fas" *ngIf="key =='phone'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('active')">Estado
                <span class="fas" *ngIf="key =='active'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.id}}</td>
                <td>{{d.dni}}</td>
                <td>{{d.name}}</td>
                <td>{{d.lastname}}</td>
                <td>{{d.phone}}</td>
                <td><span *ngIf="d.active == 1">Activo</span><span *ngIf="d.active == 0">Desactivo</span></td>
                <td>
                    <a class="btn btn-info" *ngIf="d.active == 0" (click)="activeLoader(d.id)" style="display: inline-block; margin-right: 10px; width: 100px">Activar</a>
                    <a class="btn btn-secondary" *ngIf="d.active == 1" (click)="disableLoader(d.id)" style="display: inline-block; margin-right: 10px;  width: 100px">Desactivar</a>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d.id)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editLoader(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" id="modal{{d.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Estiba</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar a {{d.name}} {{d.lastname}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteLoader(d.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="7" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        No hay Estibas registrados. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="7">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="info-container panel panel-default" *ngIf="showView">
    <div class="row panel-heading mb-2" style="background-color: #f6f6f6; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalles del Estiba</h3>
        </div>
        <div class="ml-auto" style="margin-top: 25px; margin-right: 60px;">
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form  role="form">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Nombres</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="name" value="{{loader.name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-sm-2 col-form-label">Apellidoss</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="lastname" value="{{loader.lastname}}">
                    </div>
                </div>
                <div *ngIf="loader.photo" class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <img src="{{loader.photo}}" class="profile-image">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cédula</label>
                    <div class="col-sm-10">
                        <input type="text" appNumberOnly maxlength="11" readonly class="form-control" value="{{loader.dni}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{loader.phone}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha de creación</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{loader.create_at | date : 'medium'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Última actualización</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{loader.update_at | date : 'medium'}}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="return()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="info-container panel panel-default" *ngIf="editView">
    <div class="panel-heading" style="background-color: #f6f6f6; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Estiba</h3>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form role="form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombres</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca nombre" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellidos</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca apellido" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <img src="{{photo}}" class="profile-image">
                    </div>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" accept="image/*" (change)="upload($event)">
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="identificacion" class="col-sm-2 col-form-label">Cédula</label>
                    <div class="col-sm-10">
                        <input type="text" appNumberOnly maxlength="11" class="form-control" id="identificacion" placeholder="Introduzca cédula" [(ngModel)]="dni" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correo" class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="correo" placeholder="Introduzca correo" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="return()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Estiba</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="info-container panel panel-default" *ngIf="createView">
    <div class="panel-heading" style="background-color: #f6f6f6; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i> Nuevo Estiba</h3>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form method="POST"  role="form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombres <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca nombre" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Apellidos <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca apellido" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <img src="{{photo}}" class="profile-image">
                    </div>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" id="photo" accept="image/*" (change)="uploadNew($event)">
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cédula <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" appNumberOnly maxlength="11" class="form-control" placeholder="Introduzca cédula" [(ngModel)]="dni" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Telefono <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca el Telefono" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="return()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveLoader()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Agregar Estiba</button>
                </div>
            </form>
        </div>
    </div>
</div>


