<div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Zonas</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAllBounds()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" (click)="createBounds()"><i class="fas fa-plus-circle"></i>
                    Añadir Zona
                </a>
                <a class="btn btn-primary" style="color: white" routerLink="/u/control/cerco/grupos">
                    Ver Grupos
                    <i class="fas fa-eye"></i>
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar Zona" [(ngModel)]="boundsFilter.name">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th>ID</th>
            <th>Nombre</th>
            <th>Creado</th>
            <th>Acción</th>
            </thead>
            <tbody>
            <tr *ngFor="let cerco of data | filterBy: boundsFilter ">
                <td>{{cerco.id}}</td>
                <td>{{cerco.name}}</td>
                <td>{{cerco.create_at}}</td>
                <td>
                    <a class="btn btn-info" *ngIf="cerco.active == 0" (click)="activateAdmin(cerco.id)" style="display: inline-block; margin-right: 10px; width: 100px">Activar</a>
                    <a class="btn btn-secondary" *ngIf="cerco.active == 1" (click)="disableAdmin(cerco.id)" style="display: inline-block; margin-right: 10px;  width: 100px">Desactivar</a>
                    <a class="btn btn-primary btn-xs" (click)="getVehiclesInBound(cerco)" style="display: inline-block; margin-right: 10px;" title="Ver"><span class="far fa-eye"></span></a>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editBound(cerco)" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{cerco.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" id="modal{{cerco.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Zona</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar la Zona '{{cerco.name}}' ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteBound(cerco.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" tabindex="-1" role="dialog" id="modal{{cerco.name}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Zona</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar la Zona '{{cerco.name}}' ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteBound(cerco.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="4" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin cercos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="6">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="info-container panel panel-default map-panel" *ngIf="createBoundView">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Nueva Zona</h3>
    </div>
    <form role="form">
        <div class="panel-body mt-2">
            <div class="table-container container">
                <div class="form-group row name-bounds-f">
                    <div class="col-sm-5 form-inline">
                        <label class="mr-2"><b>Nombre</b></label>
                        <input #nameBoundField type="text" class="form-control-sm" id="namea" placeholder="Introduzca nombre" [(ngModel)]="nameBound" [ngModelOptions]="{standalone: true}" style="width: 300px">
                    </div>
                    <div class="col-sm-7 ml-auto">
                        <label class="mr-2"><b>Color</b></label>
                        <input [(colorPicker)]="colorSelected" [style.background]="colorSelected">
                        <button class="btn btn-info" (click)="selectColor()"><i class="fas fa-save"></i></button>
                    </div>
                </div>
                <div class="form-group row">
                    <div id="map"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>
                <div *ngIf="alertError" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
                    {{message}}
                </div>
                <div class="row mt-4 back-save-btn">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveNewBound()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Guardar Zona</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="info-container panel panel-default map-panel" *ngIf="editBoundView">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Editar Zona</h3>
    </div>
    <form role="form">
        <div class="panel-body mt-2">
            <div class="table-container container">
                <div class="form-group row name-bounds-f">
                    <div class="col-sm-5 form-inline">
                        <label class="mr-2"><b>Nombre</b></label>
                        <input #nameBoundField type="text" class="form-control-sm" placeholder="Introduzca nombre" [(ngModel)]="nameBoundEdit" [ngModelOptions]="{standalone: true}" style="width: 300px">
                    </div>
                    <div class="col-sm-7 ml-auto">
                        <label class="mr-2"><b>Color</b></label>
                        <input [(colorPicker)]="colorEdit" [style.background]="colorEdit">
                        <button class="btn btn-info"><i class="fas fa-save"></i></button>
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="map-bounds"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>
                <div *ngIf="alertError" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <div *ngIf="alertSuccess" class="alert alert-success" role="alert">
                    {{message}}
                </div>
                <div class="row mt-4 back-save-btn">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEditedBound()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Guardar Zona</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="info-container panel panel-default map-panel" *ngIf="vehiclesBoundView">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Zona - {{nameBound}}</h3>
    </div>
    <form role="form">
        <div class="panel-body mt-2">
            <div class="table-container container">
                <div class="form-group row" >
                    <div class="map-bounds"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>
                <div class="form-group col " style="display: flex; justify-content: space-between">
                    <a *ngIf="false" class="btn btn-info ml-auto" data-toggle="modal" href="#tablet" (click)="filterValue = ''" style="border: none; color: #fff" ><i class="fas fa-plus-circle mr-2"></i>Agregar Tablet</a>
                    <a class="btn btn-secondary ml-auto" data-toggle="modal" href="#vehicle" style="background-color: #28a745; border: none; color: #fff; margin-left: 10px" ><i class="fas fa-plus-circle mr-2"></i>Agregar vehiculo</a>
                    <!--ADD VEHICLE MODAL -->
                    <div class="modal"  tabindex="-1"  role="dialog" id="vehicle">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #c82333; color: white;">
                                    <h5 class="modal-title">Añadir vehiculos</h5>
                                </div>
                                <div class="modal-body scrolled">
                                    <div style="display: flex; overflow: hidden">
                                        <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control" placeholder="Buscar" [(ngModel)]="filterValue">
                                    </div>
                                    <div class="add-vehicle-cont">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <th width="40px">*</th>
                                                <th width="50px">ID</th>
                                                <th>IMEI</th>
                                                <th>Alias</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let vehicle of vehiclesList | filter: filterValue"
                                                (click)="vehicle.checked = !vehicle.checked"
                                                style="cursor: pointer">
                                                <td class="checkbox-vehicle">
                                                    <input
                                                        #tabletChecked
                                                        type="checkbox"
                                                        value="{{vehicle.id}}"
                                                        [(ngModel)]="vehicle.checked"
                                                        [ngModelOptions]="{standalone: true}"/>
                                                </td>
                                                <td>{{vehicle.id}}</td>
                                                <td>{{vehicle.imei}}</td>
                                                <td>{{vehicle.alias}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="addVehiclesToBound()" data-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ADD TABLET MODAL -->
                    <div class="modal"  tabindex="-1"  role="dialog" id="tablet">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #c82333; color: white;">
                                    <h5 class="modal-title">Añadir Tablets</h5>
                                </div>
                                <div class="modal-body scrolled">
                                    <div style="display: flex; overflow: hidden">
                                        <input style="margin-bottom: 8px" type="text" name="searchString" class="form-control" placeholder="Buscar" [(ngModel)]="filterValue">
                                    </div>
                                    <div class="add-vehicle-cont">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <th width="40px">*</th>
                                                <th width="50px">ID</th>
                                                <th>Alias</th>
                                                <th>IMEI</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let tabs of tabletsList | filter: filterValue"
                                                (click)="tabs.checked = !tabs.checked"
                                                style="cursor: pointer">
                                                <td class="checkbox-vehicle">
                                                    <input
                                                        #tabletChecked
                                                        type="checkbox"
                                                        value="{{tabs.id}}"
                                                        [(ngModel)]="tabs.checked"
                                                        [ngModelOptions]="{standalone: true}"/>
                                                </td>
                                                <td>{{tabs.id}}</td>
                                                <td>{{tabs.alias}}</td>
                                                <td>{{tabs.imei}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" (click)="addTabletToBound()" data-dismiss="modal">Guardar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table mt-2 container-fluid">
                    <div><b>Vehiculos</b></div>
                    <div class="col-sm-5" style="margin-left: -15px; margin-bottom: 8px">
                        <input type="text" name="searchString" class="form-control" placeholder="Buscar Vehículo" name="search" [(ngModel)]="filter">
                    </div>
                    <table class="table table-bordered">
                        <thead  class="thead-light">
                        <th>IMEI</th>
                        <th>Alias</th>
                        <th>Eliminar</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let vehicle of vehiclesInBound  | filter:filter">
                            <td>{{vehicle.imei}}</td>
                            <td>{{vehicle.alias}}</td>
                            <td>
                                <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{vehicle.imei}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                            </td>
                            <div class="modal" tabindex="-1" role="dialog" id="modal{{vehicle.imei}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #c82333; color: white;">
                                            <h5 class="modal-title">Eliminar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Está seguro que desea eliminar el vehiculo '{{vehicle.alias}}' de esta Zona?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" (click)="deleteVehicleFromBound(vehicle)" data-dismiss="modal">Eliminar</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div *ngIf="false">
                        <div><b>Tablets</b></div>
                        <div class="col-sm-5" style="margin-left: -15px; margin-bottom: 8px">
                            <input type="text" name="searchString" class="form-control" placeholder="Buscar tablet" name="search" [(ngModel)]="filterT">
                        </div>
                        <table class="table table-bordered">
                            <thead  class="thead-light">
                            <th>IMEI</th>
                            <th>Alias</th>
                            <th>Eliminar</th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let tablet of tabletsInBounds  | filter:filterT">
                                <td>{{tablet.imei}}</td>
                                <td>{{tablet.alias}}</td>
                                <td>
                                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{tablet.imei}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                                </td>
                                <div class="modal" tabindex="-1" role="dialog" id="modal{{tablet.imei}}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                                <h5 class="modal-title">Eliminar</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Está seguro que desea eliminar la tablet '{{tablet.alias}}' de esta Zona?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="deleteTabletFromBound(tablet)" data-dismiss="modal">Eliminar</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-4 back-save-btn">
                        <a class="btn btn-info btn-block col-md-3 mx-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



