<as-split direction="vertical">
    <!-- <as-split-area size="50"  *ngIf="!hide"> -->
    <as-split-area size="50" *ngIf="screen==1">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Proyectos</b></label>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group" style="margin-right: 8px">
                    <a class="btn btn-secondary btn-tracing" role="button" title="Actualizar.."
                        (click)="getAllProjects()">
                        <i class="fas fa-sync-alt" *ngIf="!searchingProjects"></i>
                        <i class="fa fa-spinner fa-spin" *ngIf="searchingProjects" style="color: white"></i>
                    </a>
                </div>
                <div class="btn-group">
                    <a data-toggle="modal" (click)="openProjects()" class="btn btn-success btn-tracing"><i
                            class="fas fa-plus-circle"></i>
                        &nbsp;Crear Requerimiento
                    </a>
                </div>
            </div>
            <div class="ml-auto form-inline">
                <div class="form-group row">
                    <input type="text" class="form-control search-tracing" placeholder="Buscar" name="search"
                        [(ngModel)]="filterProjects">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th (click)="sortProjects('create_at')">Creado
                    <span class="fas" *ngIf="keyProjects=='create_at'"
                        [ngClass]="{'fa-angle-up':reverseProjects,'fa-angle-down':!reverseProjects}"></span>
                </th>
                <th (click)="sortProjects('name')">Nombre
                    <span class="fas" *ngIf="keyProjects=='name'"
                        [ngClass]="{'fa-angle-up':reverseProjects,'fa-angle-down':!reverseProjects}"></span>
                </th>
                <th (click)="sortProjects('shipment_date')">Embarque
                    <span class="fas" *ngIf="keyProjects=='shipment_date'"
                        [ngClass]="{'fa-angle-up':reverseProjects,'fa-angle-down':!reverseProjects}"></span>
                </th>
                <th (click)="sortProjects('status')">Estado
                    <span class="fas" *ngIf="keyProjects=='status'"
                        [ngClass]="{'fa-angle-up':reverseProjects,'fa-angle-down':!reverseProjects}"></span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataProjects | filter :filterProjects" class="small-tab" style="cursor: pointer;" (click)="showDetails(d)">
                    <td>{{d.create_at | date : "mediumDate"}}</td>
                    <td>{{d.name}}</td>
                    <td *ngIf="d.shipment_route_id">{{d.shipment_date | date: "mediumDate"}}, {{convertTime(d.shipment_time)}}</td>
                    <td *ngIf="!d.shipment_route_id">-</td>
                    <td *ngIf="d.status == 'A' && d.percentage == 0" class="wait">0%</td>
                    <td *ngIf="d.status == 'A' && d.percentage > 0 && d.percentage < 100" class="delivery">
                        {{d.percentage}}%</td>
                    <td *ngIf="d.status == 'A' && d.percentage == 100" class="active">100%</td>
                    <td *ngIf="d.status != 'A'" class="inactive">Inactivo</td>
                </tr>
            </tbody>
        </table>
    </as-split-area>
    <!-- <as-split-area size="50"  *ngIf="!hide"> -->
    <as-split-area size="50" *ngIf="screen==1 && hasFullPermission()">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Vehiculos En Linea</b></label>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th>Alias</th>
                <th>Placa</th>
                <th>Fecha</th>
                <th>Estatus</th>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicles" class="small-tab" style="cursor: pointer;"
                    (click)="focusVehicle(vehicle)">
                    <td>{{vehicle.alias}}</td>
                    <td>{{vehicle.automotor_plate}}</td>
                    <td>{{vehicle.generated_time | date : "medium"}}</td>
                    <td *ngIf="(vehicle.device_status == 'OFFOROUTOFCOVERAGE' || vehicle.battery_level == 0)"
                        class="inactive">
                        DESCONECTADO
                    </td>
                    <td *ngIf="!(vehicle.device_status == 'OFFOROUTOFCOVERAGE' || vehicle.battery_level == 0)"
                        class="active">
                        ONLINE
                    </td>
                </tr>
            </tbody>
        </table>
    </as-split-area>
    <!-- <as-split-area size="40" *ngIf="hide"> -->
    <as-split-area size="40" *ngIf="screen == 2">
        <div class="container-fluid row mx-auto mt-2">
            <div class="mr-auto row ml-2 form-inline">
                <label class="mr-1"><b>Proyecto {{project.name}}</b></label>
            </div>
            <div class="mr-auto row ml-2 form-inline">

            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a class="btn btn-warning btn-tracing-black" (click)="showDetailsView(project);"
                        style="margin-right: 5px"><i class="fas fa-edit"></i>
                        <span *ngIf="containsOrder">&nbsp;Modificar</span>
                        <span *ngIf="containsOrder === false">&nbsp;Crear Orden</span>
                    </a>
                </div>
                <div class="btn-group">
                    <a (click)="showMain()" class="btn btn-dark btn-tracing"><i class="fas fa-reply"></i>
                        &nbsp;Volver
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid row mx-auto mt-2">
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a (click)="showBinnacle(project)" class="btn btn-primary btn-tracing"><i
                            class="fas fa-comments"></i>
                        &nbsp;Bitacora
                    </a>
                </div>
            </div>

            <a *ngIf="containsOrder === true"
               class="btn btn-secondary btn-print btn-tracing"
               style="margin-left: 5px"
               data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" role="button" title="exportar..">
                <i class="fa fa-print" style="color: white"></i>
                <div class="dropdown-menu menu-item" style="z-index: 5000">
                    <div class=" menu-items" (click)="print(0)">Excel</div>
                    <div class=" menu-items" (click)="downloadPDF()">PDF</div>
                    <div class=" menu-items" (click)="printPDF()">Print</div>
                </div>
            </a>
        </div>

        <div class="grid-8 pad-12" style="width: 100%">

            <div *ngIf="containsOrder === true" class="grid-c-s-1 grid-span-8 grid-8">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Kilometros Recorridos</label>
                <label class="lab-grid left grid-c-s-1 grid-span-8" style="color: #007bff"><b>{{kilometers}} Kilometros</b></label>
            </div>

            <label *ngIf="containsOrder === false" class="lab-grid grid-c-s-5 grid-span-4 left"
                   style="color: palevioletred">No se ha creado la orden</label>

            <div class="grid-separator"></div>

            <div class="grid-c-s-1 grid-span-4 grid-8">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Logística</label>
                <label class="lab-grid left grid-c-s-1 grid-span-8">{{assignedLoaders.length}} Estibas - {{order.routers}}
                    Destinos</label>
            </div>

            <div class="grid-c-s-5 grid-span-4 grid-8">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Centro de Costo</label>
                <label class="lab-grid left grid-c-s-1 grid-span-8">{{order.cost_center}}</label>
            </div>

            <div class="grid-separator"></div>

            <div class="grid-c-s-1 grid-span-8 grid-8" *ngIf="assignedDrivers.length > 0">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Conductor</label>
                <label *ngFor="let assigned of assignedDrivers" class="lab-grid left grid-c-s-1 grid-span-8">{{assigned.driver.dni}} - {{assigned.driver.name}} {{assigned.driver.lastname}}</label>
            </div>

            <div class="grid-separator"></div>

            <div class="grid-c-s-1 grid-span-8 grid-8" *ngIf="assignedLoaders.length > 0">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Estibas</label>
                <label *ngFor="let assigned of assignedLoaders" class="lab-grid left grid-c-s-1 grid-span-8">{{assigned.loader.dni}} - {{assigned.loader.name}} {{assigned.loader.lastname}}</label>
            </div>

            <div class="grid-separator"></div>

            <div class="grid-c-s-1 grid-span-4">
                <label class="lab-grid-title">Tipo de solicitud</label>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.type_dispatch">
                        Despacho de Materiales</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.type_withdrawal">
                        Retiro de Desmontados</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.type_movements">
                        Movimientos entre celdas</label>
                </div>
            </div>

            <div class="grid-c-s-5 grid-span-4">
                <label class="lab-grid-title">Dificulta de acceso</label>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_terrace">
                        Terraza</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_hill">
                        Cerro</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_river">
                        Fluvial</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_restriction">
                        Restricion de Horarios</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_load500"> Carga
                        de pulso > 500mts</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.access_narrow"> Camino
                        estrecho</label>
                </div>
            </div>

            <div class="grid-separator"></div>

            <div class="grid-c-s-1 grid-span-4">
                <label class="lab-grid-title">Tipo de transporte</label>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_350kg"> Furgoneta 350kg</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_550kg"> Furgoneta 550kg</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_900kg"> Furgon Sprinter 900kg</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_1tn"> Camión 1.0 - 1.5 Ton</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_2n"> Camión 2.0 - 3.5 Ton</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_5tn"> Camión 4.5 - 5.5 Ton</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_7tn"> Camión 6 - 7.5 Ton</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_12tn"> Camión 10 - 12 Ton</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_18tn"> Camión 16 - 19 Ton
                        12tn</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.truck_low"> Cama
                        baja</label>
                </div>
            </div>

            <div class="grid-c-s-5 grid-span-4">
                <label class="lab-grid-title grid-c-s-1 grid-span-8">Servicios Adicionales</label>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_container20">
                        Contenedor 20'</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_container40">
                        Contenedor 40'</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_trailer40">
                        Semiremolque 40'</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_trailer48">
                        Semiremolque 48'</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_trailer53">
                        Semiremolque 53'</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_platform8">
                        Plataforma 8 mts</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_platform12">
                        Plataforma 12 mts</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_forklift_1tn">
                        Montacarga 1tn</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_forklift_2tn">
                        Montacarga 2tn</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_forklift_5tn">
                        Montacarga 5tn</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_truck_4x4">
                        Camión 4x4</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_barge">
                        Gabarra</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_crane_25tn"> Grua
                        25tn</label>
                </div>
                <div class="checkbox">
                    <label class="lab-grid-min"><input type="checkbox" disabled [checked]="order.additional_packer">
                        Acemila</label>
                </div>
            </div>

            <div class="grid-separator"></div>

            <label *ngIf="order.observation" class="lab-grid-title grid-c-s-1 grid-span-8">Observaciones</label>
            <textarea *ngIf="order.observation" rows="5" cols="8" style="border: none"
                class="form-control-sm input grid-c-s-1 grid-span-8" readonly [(ngModel)]="order.observation"
                [ngModelOptions]="{standalone: true}"></textarea>

        </div>
    </as-split-area>
    <!-- <as-split-area size="20" *ngIf="hide"> -->
    <as-split-area size="20" *ngIf="screen == 2">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title">Rutas</label>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group" style="margin-right: 8px">
                    <a class="btn btn-secondary btn-tracing" role="button" title="Actualizar.."
                        (click)="getOrderRoutes()">
                        <i class="fas fa-sync-alt" *ngIf="!searchingRoutes"></i>
                        <i class="fa fa-spinner fa-spin" *ngIf="searchingRoutes" style="color: white"></i>
                    </a>
                </div>
                <div class="btn-group" style="margin-right: 5px">
                    <a *ngIf="!containsOrigin" class="btn btn-dark btn-tracing" (click)="openRoutes()"><i
                            class="fas fa-plus-circle"></i>
                        Origen
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-success btn-tracing" (click)="openRoutes()"><i class="fas fa-plus-circle"></i>
                        Destino
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th (click)="sortRoutes('type')">Tipo
                    <span class="fas" *ngIf="keyRoutes=='type'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
                <th (click)="sortRoutes('province')">Region
                    <span class="fas" *ngIf="keyRoutes=='province'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
                <th (click)="sortRoutes('city')">Ciudad
                    <span class="fas" *ngIf="keyRoutes=='city'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
                <th (click)="sortRoutes('date')">Fecha
                    <span class="fas" *ngIf="keyRoutes=='date'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
                <th (click)="sortRoutes('time')">Hora
                    <span class="fas" *ngIf="keyRoutes=='time'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
                <th (click)="sortRoutes('status')">Estado
                    <span class="fas" *ngIf="keyRoutes=='status'"
                        [ngClass]="{'fa-angle-up':reverseRoutes,'fa-angle-down':!reverseRoutes}"></span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let d of routes" class="small-tab">
                    <td>{{d.type == 'ORIGIN' ? 'Origen' : 'Destino'}}</td>
                    <td>{{d.province}}</td>
                    <td>{{d.city}}</td>
                    <td>{{d.date}}</td>
                    <td>{{d.time}}</td>
                    <td *ngIf="d.status == 'A'" class="wait">Pendiente</td>
                    <td *ngIf="d.status == 'D' && d.type == 'ORIGIN'" class="active">Cargado</td>
                    <td *ngIf="d.status == 'D' && d.type != 'ORIGIN'" class="delivery">Entregado</td>
                </tr>
            </tbody>
        </table>
    </as-split-area>
    <as-split-area size="20" *ngIf="false">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Contactos</b></label>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a class="btn btn-success btn-tracing" (click)="openContacts()"><i class="fas fa-plus-circle"></i>
                        Contacto
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th (click)="sortSites('type')">Tipo
                    <span class="fas" *ngIf="keyContact=='type'"
                        [ngClass]="{'fa-angle-up':reverseContacts,'fa-angle-down':!reverseContacts}"></span>
                </th>
                <th (click)="sortSites('name')">Nombre
                    <span class="fas" *ngIf="keyContact=='name'"
                        [ngClass]="{'fa-angle-up':reverseContacts,'fa-angle-down':!reverseContacts}"></span>
                </th>
                <th (click)="sortSites('dni')">Cedula
                    <span class="fas" *ngIf="keyContact=='dni'"
                        [ngClass]="{'fa-angle-up':reverseContacts,'fa-angle-down':!reverseContacts}"></span>
                </th>
                <th (click)="sortSites('phone')">Telefono
                    <span class="fas" *ngIf="keyContact=='phone'"
                        [ngClass]="{'fa-angle-up':reverseContacts,'fa-angle-down':!reverseContacts}"></span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let d of contacts" class="small-tab">
                    <td>{{d.type}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.dni}}</td>
                    <td>{{d.phone}}</td>
                </tr>
            </tbody>
        </table>
    </as-split-area>
    <as-split-area size="20" *ngIf="false">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Entregas</b></label>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a class="btn btn-danger btn-tracing"><i class="fas fa-times"></i>
                        Quitar
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th (click)="sortDeliveries('order_no')">O. No.
                    <span class="fas" *ngIf="keyDeliveries=='order_no'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('date')">Client
                    <span class="fas" *ngIf="keyDeliveries=='date'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('client')">Client
                    <span class="fas" *ngIf="keyDeliveries=='client'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('status')">Status
                    <span class="fas" *ngIf="keyDeliveries=='status'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('time')">Time
                    <span class="fas" *ngIf="keyDeliveries=='time'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('reject_reason')">R. Reason
                    <span class="fas" *ngIf="keyDeliveries=='reject_reason'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
                <th (click)="sortDeliveries('photo')">Photo
                    <span class="fas" *ngIf="keyDeliveries=='photo'"
                        [ngClass]="{'fa-angle-up':reverseDeliveries,'fa-angle-down':!reverseDeliveries}"></span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataDeliveries" class="small-tab">
                    <td>{{d.order_no}}</td>
                    <td>{{d.date}}</td>
                    <td>{{d.client}}</td>
                    <td>{{d.status}}</td>
                    <td>{{d.time}}</td>
                    <td>{{d.reject_reason}}</td>
                    <td>{{d.photo}}</td>
                </tr>
            </tbody>
        </table>
    </as-split-area>
    <!-- <as-split-area size="20" *ngIf="hide"> -->
    <as-split-area size="20" *ngIf="screen == 2">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">

            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Historial Del Pedido</b></label>
            </div>
            <div class="ml-auto form-inline">
                <!-- ///////////////////////////////////////////////////////////////////////////// -->
                <div class="btn-group" *ngIf="hasFullPermission()">
                    <a *ngIf="containsOrder !== false" class="btn btn-warning btn-tracing-black" (click)="editHistory();"
                        style="margin-right: 5px"><i class="fas fa-edit"></i>
                        <span>&nbsp;Editar Historial</span>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-secondary btn-tracing" role="button" title="Actualizar.."
                        (click)="getPositions()">
                        <i class="fas fa-sync-alt" *ngIf="!searchingPositions"></i>
                        <i class="fa fa-spinner fa-spin" *ngIf="searchingPositions" style="color: white"></i>
                    </a>
                </div>
            </div>

        </div>

        <table class="table table-bordered">

            <thead class="thead-light small-tab">

                <th (click)="sortDeliveries('index')">No.
                    <span class="fas" *ngIf="keyPositions=='index'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('user_message')">Hora
                    <span class="fas" *ngIf="keyPositions=='user_message'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('user_message')">Mensaje
                    <span class="fas" *ngIf="keyPositions=='user_message'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('full_name')">Conductor
                    <span class="fas" *ngIf="keyPositions=='fullName'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('latitude')">Latitud
                    <span class="fas" *ngIf="keyPositions=='latitude'"
                          [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('longitude')">Longitud
                    <span class="fas" *ngIf="keyPositions=='longitude'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
            </thead>

            <tbody>
                <tr *ngFor="let d of dataPositions" class="small-tab" style="cursor: pointer;"
                    (click)="focusPosition(d)">
                    <td>{{d.index}}</td>
                    <td>{{d.generated_time | date : "shortTime" }}</td>
                    <td>{{d.user_message}}</td>
                    <td>{{d.full_name}}</td>
                    <td>{{d.latitude}}</td>
                    <td>{{d.longitude}}</td>
                </tr>
            </tbody>
        </table>

    </as-split-area>



    <!-- //////////////////////////////////// NEW ///////////////////////////////////////// -->
    <as-split-area size="20" *ngIf="screen == 3">
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">

            <div class="mr-auto row ml-2 form-inline">
                <label class="lab-grid-title"><b>Editar Historial</b></label>
            </div>
            <div class="ml-auto form-inline">
                <div class="btn-group" style="padding-right: 10px;">
                    <a class="btn btn-secondary btn-tracing" role="button" title="Actualizar.."
                        (click)="getPositions()">
                        <i class="fas fa-sync-alt" *ngIf="!searchingPositions"></i>
                        <i class="fa fa-spinner fa-spin" *ngIf="searchingPositions" style="color: white"></i>
                    </a>
                </div>

                <div class="btn-group" style="padding-right: 10px;">
                    <a class="btn btn-info btn-tracing-black" (click)="createPoint()" style="margin-right: 5px">
                        <i style="color: white" class="fas fa-edit"></i>
                        <span style="color: white" >&nbsp;Agregar</span>
                    </a>
                </div>

                <div class="btn-group">
                    <a (click)="backToDetails()" class="btn btn-dark btn-tracing"><i class="fas fa-reply"></i>
                        &nbsp;Volver
                    </a>
                </div>
            </div>

        </div>

        <table class="table table-bordered">
            <thead class="thead-light small-tab">
                <th (click)="sortDeliveries('index')">No.
                    <span class="fas" *ngIf="keyPositions=='index'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('user_message')">Hora
                    <span class="fas" *ngIf="keyPositions=='user_message'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('user_message')">Mensaje
                    <span class="fas" *ngIf="keyPositions=='user_message'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('full_name')">Conductor
                    <span class="fas" *ngIf="keyPositions=='fullName'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('latitude')">Latitud
                    <span class="fas" *ngIf="keyPositions=='latitude'"
                          [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th (click)="sortDeliveries('longitude')">Longitud
                    <span class="fas" *ngIf="keyPositions=='longitude'"
                        [ngClass]="{'fa-angle-up':reversePositions,'fa-angle-down':!reversePositions}"></span>
                </th>
                <th>Borrar</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataPositionsToEdit" class="small-tab" (click)="focusPosition(d)"
                    style="cursor: pointer;">
                    <td>{{d.index}}</td>
                    <td>{{d.generated_time | date : "shortTime" }}</td>
                    <td>{{d.user_message}}</td>
                    <td>{{d.full_name}}</td>
                    <td>{{d.latitude}}</td>
                    <td>{{d.longitude}}</td>
                    <td style="vertical-align: middle;">
                        <a class="btn btn-danger btn-xs" (click)="deletePointMarker(d); $event.stopPropagation();" title="Eliminar"
                            style="padding: 0px 4px;"><span class="fas fa-trash-alt"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container-fluid row mx-auto mt-2" style="margin: 4px 0 !important;">
            <div class="ml-auto form-inline">
                <div class="btn-group">
                    <a #buttonOpenModal class="btn btn-info btn-tracing-black" data-toggle="modal" data-target="#addPointModal" style="margin-right: 5px; display: none">
                        <i style="color: white" class="fas fa-edit"></i>
                        <span style="color: white" >&nbsp;Open</span>
                    </a>
                </div>
            </div>

        </div>

    </as-split-area>

</as-split>

<!-- Modal8a Agregar -->
<div id="addPointModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Punto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="form-group">
                        <label for="selector1">Tipo</label>
                        <select class="form-control form-control-sm" id="selector1"
                                [(ngModel)]="point.message" [ngModelOptions]="{standalone: true}">
                            <option [ngValue]="" disabled>Seleccione..</option>
                            <option *ngFor="let item of selectInput" [ngValue]="item.value">{{item.txt}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="form-date">Fecha</label>
                        <input id="form-date" type="date" class="form-control form-control-sm" [(ngModel)]="point.date" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="form-time">Hora</label>
                        <input id="form-time" type="time" class="form-control form-control-sm" [(ngModel)]="point.time" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="selector2">Conductor</label>
                        <select id="selector2" class="form-control form-control-sm" [(ngModel)]="point.driverId" [ngModelOptions]="{standalone: true}" (change)="onChangeDriver($event.target.value)">
                            <option [value]="undefined" selected>Seleccione..</option>
                            <option *ngFor="let driver of assignedDrivers" [value]="driver.driver.id" (click)="point.driverId = driver.driver.id;">{{driver.driver.name + ' ' + driver.driver.lastname}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="form-c2">Latitud</label>
                        <input readonly type="email" class="form-control form-control-sm" id="form-c2"
                        placeholder="Ej: -68.01046" [(ngModel)]="point.latitude" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="form-c3">Longitud</label>
                        <input readonly type="email" class="form-control form-control-sm" id="form-c3"
                        placeholder="Ej: -68.01046" [(ngModel)]="point.longitude" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group"  *ngIf="point.message === 'PICKUP' || point.message ===  'DELIVERY'">
                        <label for="selector3">Punto de carga/entrega</label>
                        <select id="selector3" class="form-control form-control-sm" [(ngModel)]="point.routeId" [ngModelOptions]="{standalone: true}">
                            <option [ngValue]="" disabled>Seleccione..</option>
                            <option *ngFor="let route of routes" [ngValue]="route.id">{{route.name}}</option>
                        </select>
                    </div>

                    <div class="form-group"  *ngIf="point.message === 'INCIDENCE_LEVEL_1'">
                        <label for="selector4">Tipo de incidencia</label>
                        <select id="selector4" class="form-control form-control-sm" [(ngModel)]="point.incidence" [ngModelOptions]="{standalone: true}">
                            <option [ngValue]="" disabled>Seleccione..</option>
                            <option *ngFor="let incidence of incidences" [ngValue]="incidence">{{incidence.name}}</option>
                        </select>
                    </div>

                    <div class="form-group"
                        *ngIf="point.message === 'PICKUP' ||point.message ===  'DELIVERY' ||point.message ===  'INCIDENCE_LEVEL_1'">
                        <label for="form-message">Observación</label>
                        <textarea class="form-control" id="form-message" rows="3" [(ngModel)]="point.alertMessage" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button #buttonCloseModal type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="saveCustomPosition()">Agregarlo</button>
            </div>
        </div>
    </div>
</div> 
