.btn-tracing {
    font-size: 12px;
    padding: 4px 6px;
    color: white !important;
}

.search-tracing {
    height: 30px;
    font-size: 12px;
    width: 120px;
    margin-right: 4px;
}

.text-date-tracing {
    font-size: 13px;
    padding-top: 5px;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.date-tracing {
    height: 30px;
    font-size: 12px;
    width: 120px;
}

.col-sm-18 {
    -ms-flex: 0 0 12.000000%;
    flex: 0 0 12.000000%;
    max-width: 12.000000%;
}

.inactive{
    color: red;
}

.active{
    color: green;
}

.wait{
    color: #FDBA00;
}

.delivery {
    color: #007bff;
}

.map {
    height: 400px;
    width: 100%;
}

.menu-item{
    background-color: #444;
    margin: 0;
    padding: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
}

.menu-item:hover{
    background-color: #333333;
}
