@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css";

app-admin {
    height: 100%;
    width: 100%;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    padding-bottom: 20px;
}

.btn.btn-secondary {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.thead-light>th {
    cursor: pointer;
}

.btn.btn-secondary.btn-aside_menu {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #585858;
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

.map {
    height: 350px;
    width: 100%;
}

.mapchart {
    height: 700px;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container-fluid {
    padding-top: 4px;
}

.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem
}

.profile-image {
    background: #D9D9D9;
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    object-position: center;
}

.update-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: 0;
    font-size: 1em;
    line-height: 0.6em;
    color: #ffffff;
    background-color: var(--secondary-color);
    margin: auto auto auto 16px;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    position: relative;
}

.update-circle-button:hover {
    color: #ffffff;
    background-color: #444;
}
