<div class="info-container panel panel-default" *ngIf="listView">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Ubicaciones</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAllPoints()">
                <i class="fas fa-sync-alt fa-lg"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1">
                <b>Mostrar:</b>
            </label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" (click)="showCreateView()"><i class="fas fa-plus-circle"></i>
                    Añadir Ubicación
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar Ubicación" [(ngModel)]="dataFilter">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('id')">ID
                <span class="fas" *ngIf="key =='id'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('province')">Region
                <span class="fas" *ngIf="key =='province'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('city')">Ciudad
                <span class="fas" *ngIf="key =='city'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Creada
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Acción</th>
            </thead>
            <tbody>
            <tr *ngFor="let route of data | orderBy: key : reverse | filter: dataFilter | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{route.id}}</td>
                <td>{{route.name}}</td>
                <td>{{route.province}}</td>
                <td>{{route.city}}</td>
                <td>{{route.create_at | date : "medium"}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="showDetailsView(route)" style="display: inline-block; margin-right: 10px;" title="Ver"><span class="far fa-eye"></span></a>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="showEditView(route)" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" (click)="deleteModal(route)" href="#modal_delete" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin ubicaciones para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>

    <!--INIT MODAL DELETE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-delete">
                    <h5 class="modal-title">Eliminar Ubicación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar la Ubicación <b>{{deleteObject.name}}</b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL DELETE-->

</div>


<div class="info-container panel panel-default map-panel" *ngIf="createView">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Nueva Ubicación</h3>
    </div>
    <div class="panel-body mt-2 m-top">
        <div class="table-container container">
            <form role="form" class="m-top">

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca el nombre de la ubicación" [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Región</label>
                    <div class="col-sm-4">

                        <select class="form-control" [(ngModel)]="selectedRegion" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Ciudad</label>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca la dirección" [(ngModel)]="selectedAddress" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="map col-sm-11"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Latitud</label>
                    <div class="col-sm-4">
                        <input class="form-control" [(ngModel)]="latitude" [ngModelOptions]="{standalone: true}" (input)="moveMarket(latitude, longitude)">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Longitud</label>
                    <div class="col-sm-4">
                        <input class="form-control" [(ngModel)]="longitude" [ngModelOptions]="{standalone: true}" (input)="moveMarket(latitude, longitude)">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Notas</label>
                    <div class="col-sm-10">
                        <textarea rows="5" cols="8" [(ngModel)]="selectedComment" [ngModelOptions]="{standalone: true}" placeholder="(Opcional)" class="form-control input"></textarea>
                    </div>
                </div>

                <div class="row mt-4 col-sm-11">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveCreate()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Guardar Ubicación</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="info-container panel panel-default map-panel" *ngIf="editView">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Ubicación {{editObject.name}}</h3>
    </div>
    <div class="panel-body mt-2 m-top">
        <div class="table-container container">
            <form role="form" class="m-top">

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca el nombre de la ubicación" [(ngModel)]="editObject.name" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Región</label>
                    <div class="col-sm-4">

                        <select class="form-control" [(ngModel)]="editObject.province" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let region of regions" [value]="region.name">{{region.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Ciudad</label>
                    <div class="col-sm-4">
                        <select class="form-control" [(ngModel)]="editObject.city" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca la dirección" [(ngModel)]="editObject.address" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="map col-sm-11"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Latitud</label>
                    <div class="col-sm-4">
                        <input class="form-control" [(ngModel)]="editObject.latitude" [ngModelOptions]="{standalone: true}" (input)="moveMarket(editObject.latitude, editObject.longitude)">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Longitud</label>
                    <div class="col-sm-4">
                        <input class="form-control" [(ngModel)]="editObject.longitude" [ngModelOptions]="{standalone: true}" (input)="moveMarket(editObject.latitude, editObject.longitude)">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Notas</label>
                    <div class="col-sm-10">
                        <textarea rows="5" cols="8" [(ngModel)]="editObject.comment" [ngModelOptions]="{standalone: true}" placeholder="(Opcional)" class="form-control input"></textarea>
                    </div>
                </div>

                <div class="row mt-4 col-sm-11">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Ubicación</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="info-container panel panel-default map-panel" *ngIf="showView">
    <div class="row panel-heading mb-2" style="background-color: #D9D9D9; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalle de Ubicación {{showObject.name}}</h3>
        </div>
    </div>
    <div class="panel-body mt-2 m-top">
        <div class="table-container container">
            <form role="form" class="m-top">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Latitud</label>
                    <div class="col-sm-4">
                        <input readonly class="form-control" value="{{showObject.latitude}}">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Longitud</label>
                    <div class="col-sm-4">
                        <input readonly class="form-control" value="{{showObject.longitude}}">
                    </div>
                </div>
                <div class="form-group row" >
                    <div class="map col-sm-11"
                         leaflet
                         [leafletOptions]="options"
                         [(leafletZoom)]="zoom"
                         [(leafletCenter)]="center"
                         [leafletBaseLayers]="baseLayers"
                         [leafletLayersControlOptions]="layersControlOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control" value="{{showObject.name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Region</label>
                    <div class="col-sm-4">
                        <input readonly class="form-control" value="{{showObject.province}}">
                    </div>
                    <div class="col-sm-1"></div>
                    <label class="col-sm-1 col-form-label">Ciudad</label>
                    <div class="col-sm-4">
                        <input readonly class="form-control" value="{{showObject.city}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control" value="{{showObject.address}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Creado</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control" value="{{showObject.create_at}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label">Actualizado</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control" value="{{showObject.update_at}}">
                    </div>
                </div>
                <div class="form-group row" *ngIf="showObject.comment">
                    <label class="col-sm-2 col-form-label">Observaciones</label>
                    <div class="col-sm-9">
                        <textarea rows="6" cols="10" readonly class="form-control input">{{showObject.comment}}</textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="returnList()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>



