.list-items{
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.list-item{
    padding: var(--gutter);
    cursor: pointer;
    color: whitesmoke;
}

.link{
    color: #fff;
    text-decoration: none;
}

.list-item:hover{
    background-color: #3d5385;
}

/*.active{*/
    /*background-color: #00002f;*/
/*}*/

.image-cropper {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.container-de {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#selectBusiness {
    background-color: transparent;
    border: transparent;
    color: beige;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 0 0 0 5px;
    padding-top: 0;
    height: 1.5rem;
}

#selectBusiness option {
    color: black;
}

#selectBusiness:focus {
    outline:none;
}

.header-user-name {
    color: beige;
    margin: 7px 0 0 15px;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}
