<!--&lt;!&ndash;Main nav&ndash;&gt;-->
<!--<div style="position: absolute; background-color: transparent; height: 56px; margin-left: 20px; display: flex; justify-content: center">-->
    <!--<div class="image-cropper" style="background: #4A4048">-->
        <!--<img class="rounded" src="{{photo}}">-->
    <!--</div>-->
    <!--<div class="container-de">-->

        <!--<p class="header-user-name">{{user}}</p>-->
        <!--<div style="height: 10px"></div>  &lt;!&ndash;borrar&ndash;&gt;-->
        <!--&lt;!&ndash;<select id="selectBusiness" (change)="changeBusiness()" [(ngModel)]="selectedBusiness" class="form-control-sm mr-1">&ndash;&gt;-->
            <!--&lt;!&ndash;<option *ngFor="let bus of businesses" [ngValue]="bus.id">{{bus.name}}</option>&ndash;&gt;-->
        <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--<ul class="list-items" id="items">-->
    <!--<li routerLink="/u/monitoring" class="list-item" [routerLinkActive]="['active']">Rutas</li>-->
    <!--<li routerLink="/u/control" class="list-item" [routerLinkActive]="['active']">Directorios</li>-->
    <!--<li class="list-item" (click)="exit()">Salir</li>-->
<!--</ul>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="#">Log Courier</a>

    <!--<a class="navbar-brand" href="#">-->
        <!--<img src="favicon.png" alt="Logo" style="width:40px;">-->
    <!--</a>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" >
                <a class="nav-link" routerLink="/u/monitoring">Mapa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" >
                <a class="nav-link" routerLink="/u/control">Directorios</a>
            </li>
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <button (click)="exit()" class="btn btn-outline-light my-2 my-sm-0" type="submit">Salir</button>
    </form>
</nav>