<div class="info-container panel panel-default" *ngIf="listView">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Vehiculos</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
                <label class="btn btn-outline-secondary" (click)="excelDownload()">
                    <input type="radio" name="options" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-secondary" (click)="pdfDownload()">
                    <input type="radio" name="options" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-secondary" (click)="print()">
                    <input type="radio" name="options" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" (click)="showCreateView()"><i class="fas fa-plus-circle"></i>
                    Añadir Vehiculo
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-4" placeholder="Buscar Vehiculo" [(ngModel)]="filter">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('id')">ID
                <span class="fas" *ngIf="key =='id'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('alias')">Alias
                <span class="fas" *ngIf="key =='alias'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('plate')">Placa
                <span class="fas" *ngIf="key =='plate'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('type')">Tipo
                <span class="fas" *ngIf="key =='type'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('brand')">Marca
                <span class="fas" *ngIf="key =='brand'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('type')">Color
                <span class="fas" *ngIf="key =='type'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Foto</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.id}}</td>
                <td>{{d.alias}}</td>
                <td>{{d.plate}}</td>
                <td>{{d.type}}</td>
                <td>{{d.brand}}</td>
                <td>{{d.color}}</td>
                <td style="padding: 1px; text-align: center">
                    <a [hidden]="!d.photo" data-toggle="modal" href="#modal{{d.id}}"><img src="{{d.photo}}" class="image-detail-row"></a>
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d.id)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="showEditView(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" href="#eliminar{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar{{d.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Vehículo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar este vehículo?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteVehicle(d.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="modal{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{d.photo}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin vehiculos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="info-container panel panel-default" *ngIf="showView">
    <div class="row panel-heading mb-2" style="background-color: #f6f6f6; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalles del Vehículo</h3>
        </div>
        <div class="ml-auto" style="margin-top: 25px; margin-right: 60px;">
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form  role="form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Alias</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{vehicle.alias}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Placa</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{vehicle.plate}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tipo</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{vehicle.type}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Marca</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{vehicle.brand}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Color</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" value="{{vehicle.color}}">
                    </div>
                </div>
                <div [hidden]="!vehicle.photo" class="form-group row">
                    <label class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-10">
                        <a data-toggle="modal" href="#vehiphoto"><img src="{{vehicle.photo}}" class="image-detail-photo"></a>
                    </div>
                </div>
                <!--Modal: modalVM-->
                <div class="modal fade" id="vehiphoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                                <img src="{{vehicle.photo}}" class="image-detail-photo-full">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="creation" class="col-sm-2 col-form-label">Fecha de creación</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="creation" value="{{vehicle.create_date | date : 'medium'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="update" class="col-sm-2 col-form-label">Última actualización</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="update" value="{{vehicle.update_date | date : 'medium'}}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="returnList()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="info-container panel panel-default" *ngIf="editView">
    <div class="panel-heading" style="background-color: #f6f6f6; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Vehículo</h3>
    </div>
    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form role="form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Alias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Alias" [(ngModel)]="alias" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Placa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Placa" [(ngModel)]="plate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tipo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Vehículo" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <img  src="{{photo}}" class="profile-image">
                    </div>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" accept="image/*" (change)="upload($event)">
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Marca</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Marca del vehiculo" [(ngModel)]="brand" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Color</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Color" [(ngModel)]="color" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Vehiculo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="info-container panel panel-default" *ngIf="createView">

    <div class="row panel-heading mb-2" style="background-color: #f6f6f6; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i>Nuevo Vehiculo</h3>
        </div>
    </div>

    <div class="panel-body m-top-i">
        <div class="table-container container">
            <form method="POST"  role="form">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Alias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Alias" [(ngModel)]="alias" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tipo de vehiculo <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Tipo de vehiculo" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Marca <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca la marca" [(ngModel)]="brand" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <img src="{{photo}}" class="profile-image">
                    </div>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" id="photo" accept="image/*" (change)="uploadNew($event)">
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                 [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Color <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca el color" [(ngModel)]="color" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Placa <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Introduzca la Placa" [(ngModel)]="plate" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="returnList()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="create()"  style=" margin: 0px 0px 0px 20px">
                        <i class="fas fa-plus-circle" style="margin-right: 10px;"></i>
                        Agregar Vehiculo
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
