.aside{
    height: 100%;
    width: 340px;
    background-color: var(--secondary-color);
}

.menu-items{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    list-style: none;
    color: #fff;
    background-color: #444;
}

.menu-item{
    background-color: #444;
    margin: 0;
    padding: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
}

.menu-item:hover{
    background-color: #333333;
}

.checked-icon{
    margin-top: 5px;
    margin-right: 5px;
    height: 12px;
}

.filter{
    margin-left: 5px;
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
}

.selector-filter{
    width: 95%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 0.8rem;
}

.selector-time {
    font-size: 0.8rem;
    margin-left: 4px;
}

.date-selector {
    margin-left: 5px;
    width: 95%;
    font-size: 0.8rem;
    height: 30px;
}

.text-history {
    font-size: 0.85em;
    display: inline-block;
    width: 50px;
    text-align: right;
    color: white;
}

.dates {
    font-size: 0.85em;
    padding: 7px;
    display: flex;
    flex-direction: column;
    height: 72px;
    min-height: 72px;
    background-color: brown;
}

.date-d1 {
    display: block;
}

.date-d2 {
    display: block;
    margin-top: 5px;
    height: 20px;
}

.btn-print-o {
    padding: 2px 8px;
    position: absolute;
    left: 292px;
}

.btn-print {
    padding: 2px 8px;
    position: absolute;
    left: 252px;
}

.btn-search {
    padding: 3px 8px;
    position: absolute;
    left: 292px;
    background-color: white;
    border: whitesmoke;
}

.cards-container{
    overflow: auto;
    height: 100%;
}

.cards-container::-webkit-scrollbar{
    width: 8px;
}

.cards-container::-webkit-scrollbar-thumb{
    background-color: #fff;
}

.no-cards {
    margin: auto auto;
    padding-left: 10px;
    color: honeydew;
}

.status-container{
    display: flex;
}

.tab-content {
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 32px;
    bottom: 0;
    display: block;
}


.tab-pane {
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container-records {
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 340px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.cards-container.devices-container {
    height: auto;
    position: absolute;
    width: 340px;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}

.nav-link {
    font-size: 0.85rem;
    font-weight: normal;
    color: white;
}

.nav-link.active,
.nav-link.active.show {
    font-weight: bold;
    color: black;
}

.nav-link {
    cursor: pointer;
}

.loader_msg:after {
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 3px solid #d5d5d5;
    border-radius: 50%;
    border-top: 3px solid var(--primary-color);
    -webkit-animation: loader_msg 1s linear infinite;
    animation: loader_msg 1s linear infinite;
    align-items: center;
    margin: 5px;
}
