.card {
    /*background-color: whitesmoke;*/
    height: auto;
    max-width: 320px;
    /*border-radius: 4px;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    /*padding: 9px 10px;*/
    overflow: hidden;
    cursor: pointer;
}

.card-header {
    padding: 6px 12px;
    background: brown;
    display: flex;
    justify-content: space-between;
}

.card-body {
    padding: 12px;
}

.ps{
    margin: 0;
}

.alert-import {
    float: right;
    color: red;
    font-size: .8em;
}

.alert-title{
    font-weight: 400;
    color: white;
    font-size: 1em;
}

.alert-text{
    font-size: .85em;
    line-height: 1.1;
}

.alert-imei{
    font-weight: bold;
    font-size: 0.85em;
}


.alert-date{
    color: #666;;
    font-size: .8em;
    font-weight: 500;
}

.btn {
    padding: 2px 8px;
    margin-left: 6px;
}

.container-alert {
    padding: 0 2px 2px;
    display: flex;
    justify-content: left;
    align-items: center;
}
