.tablet-card{
    background-color: whitesmoke;
    height: auto;
    max-width: 320px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px 8px 2px 8px;
    overflow: hidden;
    cursor: pointer;
}

.is-alert {
    background-color: #ffd4d4;
}

.ps{
    margin: 0;
    padding: 0;
}

.title{
    /* // font-weight: bold; */
    color: #DE3133;
}

.address{
    font-size: .8em;
    line-height: .9rem;
}

.date-time{
    color: #4A4048;
    font-size: .8em;
    font-weight: bold;
 }

.container-alert {
    padding: 0 2px 2px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.alert-message {
    font-size: .8rem;
    line-height: .9rem;
    margin-left: 8px;
}

.image-alert {
    height: auto;
    margin-top: 4px;
    min-width: 28px;
    width: 28px;
    padding: 1px;
}
