<div class="tablet-card" (click)="focusMarker(tablet.latitude, tablet.longitude)">
    <div class="card-header" style="padding: 16px">
        <span class="card-alias ps">{{tablet.alias}}</span>
        <span class="card-imei ps"><b>IMEI {{tablet.imei}}</b></span>
    </div>
    <div class="card-body" style="padding: 8px 16px">
        <p class="ps card-dni">Cedula: {{tablet.watch.guard.dni}}</p>
        <p class="ps card-name">{{tablet.watch.guard.name}} {{tablet.watch.guard.lastname}}</p>
        <div class="container-status">
            <img class="guard-icon" src="{{tablet.iconUrl}}" alt="">
            <span class="ps online" *ngIf="tablet.message != 'FINISHED_WATCH'; else inactive">{{devices_status}}</span>
        </div>
        <p class="date-s ps">{{date | date : "medium"}}</p>
    </div>
</div>

<ng-template #inactive>
  <p class="inactive ps">
    DESCONECTADO
  </p>
</ng-template>
