<div class="chat_list no-active_chat" [ngClass]="{active_chat: guard.active}">
    <div class="chat_people">
        <div class="chat_img"> <img src="{{photo}}" alt="Avatar" style="border-radius: 50%"> </div>
        <div class="chat_ib">
            <h5 class="fullname">{{guard.name+' '+guard.lastname}}
                <span *ngIf="guard.unread > 0" style="background: limegreen; padding: 2px 6px; border-radius: 50%; color: white; font-size: .8rem; text-align: right;">{{guard.unread}}</span>
            </h5>
            <p *ngIf="guard.update_at">{{guard.update_at | relativeTime}}</p>
            <!--<div style="display: flex; margin: 0">-->
                <!--<p  style=" margin: 0; padding: 0 ; font-size: 10px; color: grey; line-height: 25px" >-->
                    <!--{{guard.update_date | date: "longDate"}}-->
                <!--</p>-->
                <!--<p style=" margin: 0 0 0 5px; padding: 0; font-size: 10px; color: grey; line-height: 25px">-->
                    <!--{{guard.update_date | date: "hh:mm a"}}-->
                <!--</p>-->
            <!--</div>-->

        </div>
    </div>
</div>
