h1 {
  margin: 0 auto;
  width: 8em;
  text-align: center;
}
li {
  text-align: left;
}


.loader_chat:after {

    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 3px solid #d5d5d5;
    border-radius: 50%;
    border-top: 3px solid var(--primary-color);
    -webkit-animation: loader_chat 1s linear infinite;
    animation: loader_chat 1s linear infinite;
    align-items: center;

    left: 50%;
    bottom: 55%;
}

@keyframes loader_chat {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loader_msg:after {

    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 3px solid #d5d5d5;
    border-radius: 50%;
    border-top: 3px solid var(--primary-color);
    -webkit-animation: loader_msg 1s linear infinite;
    animation: loader_msg 1s linear infinite;
    align-items: center;
    margin: 5px;
}

@keyframes loader_msg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}







.dropdown{
  height: 100%;
  overflow: scroll;
}

.buttonContact{
  border-color: transparent;
  background-color: transparent;
  width: 220px;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  overflow: hidden;
}

.list{
  border-bottom: 1px;
  border-bottom-color: black;
}

.header-aside{
    display: flex;
    margin-bottom: 12px;
    max-height: 47px;
    color: #FFFFFF
}

a{
  color:white;
}

a.active{
  color: black;
}

html, body {
height: 100%;
    position: relative;

}
/* Styles go here */

.nav-item {
    height: 40px;
    border-radius: 0;
    padding-top: 0
}








.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 0px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
    float: left;
    width: 11%;
}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
    float: right;
    width: 46%;
}
.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
}



app-messaging {
    height: 100%;
    width: 100%;
}

.chat-container {
    background-color: #d7d6d3;
    /*background-color: #D9D9D9;*/
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    display: flex;
    /*flex-direction: column;*/
}

.scroll-content::-webkit-scrollbar{
    width: 8px;
}

.scroll-content::-webkit-scrollbar-thumb{
    background-color: #fff;
}


.chat-aside {
    height: 100%;
    width: 380px;
    min-width: 380px;
    display:flex;
    flex-direction: column;
    background: whitesmoke;
    box-shadow:  0 5px 0 0 #ccc;
    overflow: hidden;
    position: relative;

    top: 0;
    /*left: 0;*/
    bottom: 0;
    /*right: 0;*/
}

.tab-content {
    height: 100%;
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*!*left: 0;*!*/
    /*bottom: 0;*/
    overflow-y: hidden;
    display: block;

    /*display: block;*/

}

.tab-content-groups {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*position: relative;*/
    /*top: 0;*/
    /*!*left: 0;*!*/
    /*bottom: 0;*/
}

.scroll-content {
    overflow: auto;
    height: 100%;
    padding: 5px;

    /*position: absolute;*/
    /*top: 365px;*/
    /*!*left: 0;*!*/
    /*bottom: 0;*/
}

.messages-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-group {
    margin-bottom: 8px;

}

.write-container {
    background-color: honeydew;
    margin: 1px;
    padding: 8px;
    border-radius: 4px;
}

.chat-lines {
    list-style-position: inside;
}

.bubbles-container {
    margin-bottom: 20px;
}

.bubble-sender {
    /*overflow-y: auto;*/
    position: relative;
    background-color: #e3ffdc;
    min-height: 45px;
    border-radius: 5px;
    margin: 30px 45% 30px 15px;
}

.bubble-sender:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-top-color: #e3ffdc;
    border-bottom: 0;
    border-left: 0;
    margin-left: -9px;
    margin-bottom: -16px;
}

.bubble-emitter {
    /*overflow-y: auto;*/
    position: relative;
    background-color: #D6EAFF;
    min-height: 45px;
    border-radius: 5px;
    margin: 30px 15px 30px 45%;
}



.bubble-emitter:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 96%;
    right: 4%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-top-color: #d6eaff;
    border-bottom: 0;
    border-right: 0;
    margin-left: -9px;
    margin-bottom: -16px;
}

.container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.no-active_chat{ background:white;}
.active_chat{ background:lightgray;}

.list-group-item {
    cursor: pointer;
}



