
<div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Incidencias</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto  form-inline">
            <div class="btn-group">
                <a class="btn btn-success" style="color: white" (click)="crearIncidencia()"><i class="fas fa-plus-circle"></i>
                    Añadir Incidencia
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
            <label class="btn btn-outline-secondary" (click)="excelDownload()">
                <input type="radio" name="options" autocomplete="off" checked> Excel
            </label>
            <label class="btn btn-outline-secondary" (click)="pdfDownload()">
                <input type="radio" name="options" autocomplete="off"> PDF
            </label>
            <label class="btn btn-outline-secondary" (click)="print()">
                <input type="radio" name="options" autocomplete="off"> Print
            </label>
        </div>
    </div>

    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('id')">ID
                <span class="fas" *ngIf="key =='id'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('level')">Nivel
                <span class="fas" *ngIf="key =='level'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td><span *ngIf="d.level == 1">General</span><span *ngIf="d.level == 2">Importante</span></td>
                <td>
                    <a class="btn btn-warning btn-xs" style="display: inline-block; margin-right: 10px;" (click)="editarIncidencia(d.id)" title="Editar"><span class="fas fa-edit"></span></a>
                    <form method="post" style="display: inline-block;">
                        <a class="btn btn-danger btn-xs" data-toggle="modal" href="#modal{{d.id}}" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                    </form>
                </td>
                <div class="modal" tabindex="-1" role="dialog" id="modal{{d.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #c82333; color: white;">
                                <h5 class="modal-title">Eliminar Incidencia</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar la incidencia {{d.name}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="deleteIncidencia(d.id)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="4" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        No hay tipos de incidencias creadas. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="7">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>
<div class="info-container panel panel-default" *ngIf="crear">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-plus-circle" style="margin-right: 20px;"></i> Nueva Incidencia</h3>
    </div>
    <div class="panel-body mt-2">
        <div class="table-container container">
            <form method="POST"  role="form">
                <div class="form-group row">
                    <label for="namea" class="col-sm-2 col-form-label">Nombres <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="namea" placeholder="Introduzca nombre" [(ngModel)]="namea" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nivel <span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <select id="inputState" class="form-control" [(ngModel)]="nivela" [ngModelOptions]="{standalone: true}" placeholder="Seleccione nivel" required>
                            <option [value]="0">Seleccione Nivel</option>
                            <option [value]="1">General</option>
                            <option [value]="2">Importante</option>
                        </select>
                    </div>
                </div>
                <div>
                    <p *ngIf="errorSave" class="text-danger">Error al guardar, verifique los datos</p>
                    <p *ngIf="errorSaveData" class="text-danger">{{errorNewMsg}}</p>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveNewIncidencia()"  style=" margin: 0px 0px 0px 20px"><i class="fas fa-plus-circle" style="margin-right: 10px;"></i>Agregar Incidencia</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="info-container panel panel-default" *ngIf="editar">
    <div class="panel-heading" style="background-color: #D9D9D9; padding: 10px">
        <h3 class="panel-title"><i class="fas fa-edit" style="margin-right: 20px;"></i>Editar Incidencia</h3>
    </div>
    <div class="panel-body mt-2">
        <div class="table-container container">
            <form role="form">
                <div class="form-group row">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombres</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" placeholder="Introduzca Nombre" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nivel" class="col-sm-2 col-form-label">Nivel</label>
                    <div class="col-sm-10">
                        <select id="nivel" class="form-control" [(ngModel)]="nivel" [ngModelOptions]="{standalone: true}" placeholder="Seleccione nivel" required>
                            <option [value]="0">Seleccione Nivel</option>
                            <option [value]="1">General</option>
                            <option [value]="2">Importante</option>
                        </select>
                    </div>
                </div>
                <div>
                    <p *ngIf="errorEdit" class="text-danger">Error al guardar, intente nuevamente</p>
                    <p *ngIf="errorEditData" class="text-danger">{{errorEditMsg}}</p>
                </div>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 ml-auto" style="color: white;" (click)="regresar()"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                    <button type="button" class="btn btn-success btn-block col-md-3 mr-auto" (click)="saveEdit()" style=" margin: 0px 0px 0px 20px"><i class="fas fa-edit" style="margin-right: 10px;"></i>Editar Incidencia</button>
                </div>
            </form>
        </div>
    </div>
</div>


