.control-container{
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

app-control {
    height: 100%;
    width: 100%;
}

aside{
    list-style: none;
    height: 100%;
    min-height: 100vh;
    width: 350px;
    background-color: var(--secondary-color);
    padding: 0 0 0 5px;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}

.thead-light>th {
    cursor: pointer;
}


.card-header {
    height: 50px;
}

.btn.btn-secondary {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

.container-fluid {
    padding-top: 4px;
}

.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem
}

.profile-image {
    background: #D9D9D9;
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    object-position: center;
}

.info-container {
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    padding-bottom: 100px;
}

.btn.btn-secondary {
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #D9D9D9;
}

.btn.btn-secondary.collap {
    background-color: #D9D9D9;
    width: 100%;
    text-align: left;
    color: #000;
}

.thead-light>th {
    cursor: pointer;
}

.btn.btn-secondary.collap:hover{
    background-color: #444;
    width: 100%;
    text-align: left;
    color: #FFF;
}

.menu-button {
    color: black;
    font-weight: bold;
    padding: 0
}

.container-fluid {
    padding-top: 4px;
}

.list-title {
    color: var(--secondary-color);
    margin-left: 2vw;
    margin-top: 4px;
}

.icon-return {
    padding: 6px;
    font-size: 1.8rem
}
