<div class="info-container panel panel-default">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/operatividad" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Puestos</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1">
                <b>Mostrar:</b>
            </label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modalnew"><i class="fas fa-plus-circle"></i>
                    Añadir Puesto
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-2" placeholder="Buscar" name="search" [(ngModel)]="filter">
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="modalnew">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #28a745; color: white;">
                            <h5 class="modal-title">Agregar Puesto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div style="margin-left: 10px" class="form-group mt-4 mb-4">
                            <label class="ml-1 mr-3"><b>Nombre *</b></label>
                            <input type="text" name="newname" class="form-control" placeholder="Nombre del puesto" [(ngModel)]="newName" style="width: 80%; float: right;">
                            <label class="ml-1 mr-2"><b style="margin-top: 15px">Descripción</b></label>
                            <input type="text" name="newaddress" class="form-control" placeholder="Descripción del puesto (Opcional)" [(ngModel)]="newAddress" style="width: 80%; float: right; margin-top: 20px">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" (click)="saveStand()" data-dismiss="modal">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('address')">Descripción
                <span class="fas" *ngIf="key =='address'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('state')">Estado
                <span class="fas" *ngIf="key =='state'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Operatividad</th>
            <th>Editar</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of devices | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.name}}</td>
                <td>{{d.address}}</td>
                <td>{{d.state}}</td>
                <!--<td style="display: flex">-->
                <td>
                    <button *ngIf="d.operative == false || !d.exists" class="btn btn-success btn-xs" (click)="start(d)" style="display: inline-block; margin-right: 10px;" title="Poner Operativo"><span class="fas fa-play"></span></button>
                    <button *ngIf="d.operative == true" disabled class="btn btn-dark btn-xs" style="display: inline-block; margin-right: 10px;" title="Poner Operativo"><span class="fas fa-play"></span></button>

                    <button *ngIf="d.operative == true || !d.exists" class="btn btn-danger btn-xs" style="display: inline-block; margin-right: 10px;" data-toggle="modal" data-target="#modalStop" (click)="stop(d)" title="Poner inoperativo"><span class="fas fa-stop"></span></button>
                    <button *ngIf="d.operative == false" disabled class="btn btn-dark btn-xs" style="display: inline-block; margin-right: 10px;" title="Poner inoperativo"><span class="fas fa-stop"></span></button>
                </td>
                <td>
                    <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit" (click)="openModal(d)" title="Editar"><span class="fas fa-edit"></span></button>
                </td>
            </tr>
            <tr *ngIf="stands.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin dispositivos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="devices.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
    <!--INIT MODAL EDIT-->
    <div class="modal fade" role="dialog" id="modalEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffc107; color: white;">
                    <h5 class="modal-title" style="color: black">Editar Puesto {{editDeviceName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group mt-4 mb-4">
                    <div style="margin-left: 15px" class="form-inline">
                        <label class="ml-1 mr-3"><b>Nombre *</b></label>
                        <input type="text" name="newname" class="form-control" placeholder="Insertar nombre" [(ngModel)]="editDeviceName" style="width: 80%;">
                    </div>
                    <div style="margin-left: 15px" class="form-inline mt-2">
                        <label class="ml-1 mr-2"><b>Descripción</b></label>
                        <input type="text" name="newaddress" class="form-control" placeholder="Insertar Descripción (Opcional)" [(ngModel)]="editDeviceDescription" style="width: 80%;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" (click)="saveEdit()" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--INIT MODAL EDIT--><!--INIT MODAL EDIT-->
    <div class="modal fade" role="dialog" id="modalStop">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-color: #dc3545; background-color: #DC3545; color: white;">
                    <h5 class="modal-title" style="color: white">{{stopDeviceName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
                <div class="form-group mt-4 mb-4">
                    <div style="margin-left: 15px" class="form-inline">
                        <label class="ml-1 mr-3"><b> Motivo de Stop</b></label>
                    </div>
                    <div style="margin-left: 15px" class="form-inline mt-3">
                        <textarea [(ngModel)]="stopDeviceCause" class="form-control" name="cause" id="" cols="30" rows="5" maxlength="200" placeholder=" Escribe el motivo del stop..." style="width: 90%;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="saveStop()" data-dismiss="modal">STOP</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 90px;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--INIT MODAL EDIT-->
</div>