<div class="info-container panel panel-default">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <h3 class="list-title">Proyectos</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getAll()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1">
                <b>Mostrar:</b>
            </label>
            <select id="inputState" class="form-control mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="btn-group" style="margin-right: 20px;">
                <a class="btn btn-success" style="color: white" data-toggle="modal" href="#modal_create"><i class="fas fa-plus-circle"></i>
                    Añadir Requerimiento
                </a>
            </div>
            <div class="form-group row">
                <input type="text" name="searchString" class="form-control mr-2" placeholder="Buscar" name="search" [(ngModel)]="filter">
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('name')">Nombre
                <span class="fas" *ngIf="key =='name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('address')">Descripción
                <span class="fas" *ngIf="key =='address'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('status')">Estado
                <span class="fas" *ngIf="key =='status'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Creado
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_at')">Embarque
                <span class="fas" *ngIf="key =='create_at'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr class="proj" *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td (click)="showDetailsView(d)" style="cursor: pointer">{{d.name}}</td>
                <td (click)="showDetailsView(d)" style="cursor: pointer">{{d.description}}</td>
                <td (click)="showDetailsView(d)" style="cursor: pointer">{{d.status === 'A'? 'Activo' : 'Inactivo'}}</td>
                <td (click)="showDetailsView(d)" style="cursor: pointer">{{d.create_at | date : "medium"}}</td>
                <td *ngIf="d.shipment_route_id" (click)="showDetailsView(d)" style="cursor: pointer">{{d.shipment_date | date: "mediumDate"}}, {{convertTime(d.shipment_time)}}</td>
                <td *ngIf="!d.shipment_route_id" (click)="showDetailsView(d)" style="cursor: pointer">-</td>
                <td>
                    <a class="btn btn-success" (click)="showBinnacle(d)" title="Bitacora"><span class="fas fa-comments"></span></a>
                    <!--<a class="btn btn-primary m-left" (click)="showDetailsView(d)" title="Ver"><span class="far fa-eye"></span></a>-->
                    <a class="btn btn-warning m-left" data-toggle="modal" (click)="editModal(d)" href="#modal_edit" title="Editar"><span class="fas fa-edit"></span></a>
                    <a class="btn btn-danger m-left" data-toggle="modal" (click)="deleteModal(d)" href="#modal_delete" title="Eliminar"><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin proyectos para mostrar. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>

    <!--INIT MODAL CREATE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-create">
                    <h5 class="modal-title">Nuevo Requerimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-item">
                        <label><b>Nombre</b></label>
                        <input class="form-control" type="text" placeholder="Nombre del Proyecto" [(ngModel)]="newName">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Descripción</b></label>
                        <input class="form-control" type="text" placeholder="Descripción del Proyecto" [(ngModel)]="newDescription">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="create()" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL CREATE-->

    <!--INIT MODAL EDIT-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-edit">
                    <h5 class="modal-title">Editar Proyecto {{editName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-item">
                        <label><b>Nombre</b></label>
                        <input class="form-control" type="text" placeholder="Nombre del Proyecto" [(ngModel)]="editName">
                    </div>
                    <div class="modal-item m-top">
                        <label><b>Descripción</b></label>
                        <input class="form-control" type="text" placeholder="Descripción del Proyecto" [(ngModel)]="editDescription">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="edit()" data-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL EDIT-->

    <!--INIT MODAL DELETE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-delete">
                    <h5 class="modal-title">Eliminar Proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el proyecto {{deleteName}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL DELETE-->
</div>
