<div>
  <p class="ps" style="font-size: 1.2rem">Inicio:  <b>{{watch.create_date}}</b></p>
  <br>
  <p class="ps" style="font-size: 0.8rem; color: cornflowerblue; padding-bottom: 0; margin-bottom: 0">Guardia:</p>
  <p class="ps" style="font-size: 1rem;"><b>Cedula:</b> {{watch.guard_dni}}</p>
  <p class="ps" style="font-size: 1rem;">{{watch.guard_name}} {{watch.guard_lastname}}</p>
</div>
