<div class="info-container panel panel-default" *ngIf="lista">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a routerLink="/u/control/vigilancia" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Todas las Guardias</h3>
            <button *ngIf="!isLoading" class="btn btn-default update-circle-button" title="Actualizar..." (click)="getSearch()">
                <i class="fas fa-sync-alt fa-lg" style="padding-right: 8px"></i>
            </button>
        </div>
        <div class="ml-auto form-inline" >
            <button class="btn btn-outline-secondary mr-1" style="display: inline-block;" title="Map de Alertas" (click)="getMapAlertas()"><span class="fas fa-map-marker-alt"></span></button>
            <div class="btn-group btn-group-toggle ml-2 mr-3" data-toggle="buttons">
                <label class="btn btn-outline-secondary" (click)="excelDownload()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-secondary" (click)="pdfDownload()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-secondary" (click)="print()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                </label>
            </div>
            <input type="text" name="searchString" class="form-control mr-2" placeholder="Buscar" name="search" [(ngModel)]="filter">
        </div>
    </div>
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-2 form-inline">
            <label class="mr-1"><b>Mostrar:</b></label>
            <select id="inputState" class="form-control-sm mr-1 filtros" [(ngModel)]="numElement" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
            </select>
            <label>Elementos</label>
        </div>
        <div class="ml-auto form-inline">
            <div class="form-group row">
                <label class="mr-2"><b>Filtrar por:</b></label>
                <select class="form-control-sm mr-2 filtros" [(ngModel)]="filtroSelect" (change)="selectFilert(filtroSelect)" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0">No Filtrar</option>
                    <option [ngValue]="1">Guardia</option>
                    <option [ngValue]="2">Puesto</option>
                </select>

                <ng-multiselect-dropdown *ngIf="filtroSelect == 1" style="margin-right: 20px; background-color: white; border-radius: 6px; min-width: 300px"
                                         [placeholder]="'Selección de Guardias'"
                                         [data]="dropdownList"
                                         [(ngModel)]="selectedGuardias"
                                         [settings]="dropdownSettings"
                                         (onSelect)="onItemSelect($event)"
                                         (onDeSelect)="onItemDeSelect($event)">
                </ng-multiselect-dropdown>

                <ng-multiselect-dropdown *ngIf="filtroSelect == 2" style="margin-right: 20px; background-color: white; border-radius: 6px; min-width: 300px"
                                         [placeholder]="'Selección de Puestos'"
                                         [data]="dropdownListStand"
                                         [(ngModel)]="selectedStands"
                                         [settings]="dropdownSettingsStand"
                                         (onSelect)="onItemSelect2($event)"
                                         (onDeSelect)="onItemDeSelect2($event)">
                </ng-multiselect-dropdown>

                <label class="mr-2">Fecha</label>
                <input class="form-control-sm mr-2" type="date" name="date" [(ngModel)]="desde" (change)="getSearch()" [ngModelOptions]="{standalone: true}">
                <label class="mr-2">-</label>
                <input class="form-control-sm mr-2" type="date" name="date" [(ngModel)]="hasta" (change)="getSearch()" [ngModelOptions]="{standalone: true}" disabled *ngIf="rangeday">
                <input class="form-control-sm mr-2" type="date" name="date" [(ngModel)]="hasta" (change)="getSearch()" [ngModelOptions]="{standalone: true}" *ngIf="!rangeday">
                <div class="btn-group btn-group-toggle ml-2 mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm active" (click)="selectRange(1)">
                        <input type="radio" name="options" autocomplete="off" checked> Dia
                    </label>
                    <label class="btn btn-outline-secondary btn-sm" (click)="selectRange(2)">
                        <input type="radio" name="options" autocomplete="off"> Fechas
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th (click)="sort('stand_name')">Puesto
                <span class="fas" *ngIf="key =='stand_name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('tablet_imei')">IMEI
                <span class="fas" *ngIf="key =='tablet_imei'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('guard.name')">Nombre
                <span class="fas" *ngIf="key =='guard.name'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('guard.dni')">Cédula
                <span class="fas" *ngIf="key =='guard.dni'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('create_date')">Inicio
                <span class="fas" *ngIf="key =='create_date'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('update_date')">Finalizacion
                <span class="fas" *ngIf="key =='update_date'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th (click)="sort('status')">Status
                <span class="fas" *ngIf="key =='status'" [ngClass]="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></span>
            </th>
            <th>Detalle</th>
            </thead>
            <tbody>
            <tr *ngFor="let d of data | filter:filter | orderBy: key : reverse | paginate: { itemsPerPage: numElement, currentPage: p }">
                <td>{{d.stand_name}}</td>
                <td>{{d.tablet_imei}}</td>
                <td>{{d.guard.name}} {{d.guard.lastname}}</td>
                <td>{{d.guard.dni}}</td>
                <td>{{d.create_date | date : "medium"}}</td>
                <td><span *ngIf="d.status != 1">{{d.update_date | date : "medium"}}</span><span *ngIf="d.status == 1">--</span></td>
                <td><span *ngIf="d.status == 1" class="text-danger">Activa</span><span *ngIf="d.status == 0" class="text-success">Finalizada</span></td>
                <td>
                    <a class="btn btn-primary btn-xs" (click)="viewDetail(d.id)" style="display: inline-block; margin-right: 10px;" title="Detalle"><span class="far fa-eye"></span></a>
                </td>
            </tr>
            <tr *ngIf="data.length == 0 && !isLoading">
                <th colspan="8" class="text-center">
                    <div style="font-size: 1.3rem; color: gray">
                        Sin guardias para esta selección. &nbsp;
                    </div>
                </th>
            </tr>
            <tr *ngIf="isLoading">
                <th colspan="8">
                    <div style="font-size: 1.2rem">
                        Cargando información, espere... &nbsp; <span class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center; padding-right: 40px;" *ngIf="data.length > 10 && !isLoading">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel=""
                                 nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>
<div class="info-container panel panel-default" *ngIf="detalle">
    <div class="row panel-heading mb-2" style="background-color: #D9D9D9; padding: 10px">
        <div class="mr-auto ml-4">
            <h3 class="panel-title"><i class="fas fa-info-circle" style="margin-right: 20px;"></i>Detalle de la Guardia</h3>
        </div>
        <div class="ml-auto" style="margin-top: 25px; margin-right: 60px;">
            <div class="btn-group btn-group-toggle ml-4" data-toggle="buttons">
                <label class="btn btn-outline-dark" (click)="excelDetalle()">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Excel
                </label>
                <label class="btn btn-outline-dark" (click)="pdfDetalle()">
                    <input type="radio" name="options" id="option2" autocomplete="off"> PDF
                </label>
                <label class="btn btn-outline-dark" (click)="printDetalle()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Print
                </label>
            </div>
        </div>
    </div>
    <div class="panel-body mt-2">
        <div class="table-container container">
            <form  role="form">
                <div class="form-group row">
                    <label for="fechacreate" class="col-sm-2 col-form-label">Hora de inicio</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="fechacreate" value="{{guardia.create_date | date : 'medium'}}">
                    </div>
                    <label *ngIf="guardia.status != 1" for="fechafinish" class="col-sm-2 col-form-label">Hora de finalización</label>
                    <div *ngIf="guardia.status != 1" class="col-sm-4">
                        <input type="text" readonly class="form-control" id="fechafinish" value="{{guardia.update_date | date : 'medium'}}">
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Coordenadas</b></label>
                </div>
                <div class="form-group row">
                    <label for="lat" class="col-sm-2 col-form-label">Latitud</label>
                    <div class="col-sm-14">
                        <input type="text" readonly class="form-control" id="lat" value="{{guardia.latitude}}">
                    </div>
                    <label for="long" class="col-sm-2 col-form-label">Longitud</label>
                    <div class="col-sm-14">
                        <input type="text" readonly class="form-control" id="long" value="{{guardia.longitude}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mapa</label>
                    <div class="col-sm-10">
                        <div class="map"
                             leaflet
                             [leafletOptions]="options"
                             [(leafletZoom)]="zoom"
                             [(leafletCenter)]="center"
                             [leafletBaseLayers]="baseLayers"
                             [leafletLayersControlOptions]="layersControlOptions"
                             (leafletMapReady)="onMapReady($event)">
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Guardia</b></label>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="name" value="{{guardia.guard.name}}">
                    </div>
                    <label for="lastname" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="lastname" value="{{guardia.guard.lastname}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cedula" class="col-sm-2 col-form-label">Cédula</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="cedula" value="{{guardia.guard.dni}}">
                    </div>
                </div>
                <hr>
                <br>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Tablet</b></label>
                </div>
                <div class="form-group row">
                    <label for="cedula" class="col-sm-2 col-form-label">IMEI</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="imei" value="{{guardia.tablet_imei}}">
                    </div>
                    <label for="cedula" class="col-sm-2 col-form-label">Puesto</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="puesto" value="{{guardia.stand_name}}">
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <a class="btn btn-info btn-block col-md-3 mx-auto" (click)="regresar()" style="color: white;"><i class="fas fa-undo-alt" style="margin-right: 10px;"></i>Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="info-container panel panel-default"  *ngIf="viewmap">
    <div class="container-fluid row mx-auto mt-2">
        <div class="mr-auto row ml-1">
            <a (click)="regresar()" title="Atrás" style="color: var(--secondary-color)">
                <i class="fas fa-reply icon-return"></i>
            </a>
            <h3 class="list-title">Mapa de todas las Guardias</h3>
        </div>
    </div>
    <div class="table mt-2 container-fluid">
        <div class="mapchart"
             leaflet
             [leafletOptions]="options"
             [(leafletZoom)]="zoom"
             [(leafletCenter)]="center"
             [leafletBaseLayers]="baseLayers"
             [leafletLayersControlOptions]="layersControlOptions"
             [leafletMarkerCluster]="markerClusterData"
             [leafletMarkerClusterOptions]="markerClusterOptions"
             (leafletMapReady)="onMapReadyChart($event)">
        </div>
    </div>
</div>
