/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr.css';

*{
    /*Fonts*/
    --main-font: 'Roboto', sans-serif;
    font-family: var(--main-font);

    /*sizes*/
    --t1: 1.4em;
    --t2: 1em;
    --p: 0.8em;

    /*Colors*/
    --primary-color: #072B58;
    --primary-light-color: #3d5385;
    --secondary-color: #666;
    --accent-color: #FDBA00;

    /*Layout props*/
    margin: 0;
    --gutter: 1em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bus-div-icon {
    background: royalblue;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

.bus-div-icon-incidence {
    background: indianred;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

.bus-div-icon-red {
    background: darkred;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

.bus-div-icon-green {
    background: #28a745;
    border-radius: 3px;
    color: white;
    text-align:center;
    font-size: 9px;
    opacity: 0.75;
}

.bg-create {
    background-color: #28a745;
    color: white;
}

.bg-create button.close {
    color: white;
}

.bg-edit {
    background-color: #ffc107;
    color: black;
}

.bg-edit button.close {
    color: black;
}

.bg-delete {
    background-color: #c82333;
    color: white;
}

.bg-delete button.close {
    color: white;
}

.modal-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modal-item label {
    margin-top: 10px;
    width: 20%;
}

.modal-item input {
    width: 80%;
}

.m-top-u-i {
    margin-top: 6px;
}

.m-top-u {
    margin-top: 10px;
}

.m-top-u-iii {
    margin-top: 13px;
}

.m-top-u-ii {
    margin-top: 14px;
}

.m-top-ii {
    margin-top: 16px;
}

.m-top {
    margin-top: 20px;
}

.m-top-i {
    margin-top: 30px;
}

.m-top-iii {
    margin-top: 65px;
}

.m-bott {
    margin-bottom: 24px;
}

.m-bott-i {
    margin-bottom: 20px;
}

.m-bott-ii {
    margin-bottom: 10px;
}

.m-left {
    margin-left: 6px;
}

.update-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: 0;
    font-size: 1em;
    line-height: 0.6em;
    color: #ffffff;
    background-color: var(--secondary-color);
    margin: auto auto auto 16px;
    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    position: relative;
}

.update-circle-button:hover {
    color: #ffffff;
    background-color: #444;
}

.update-circle-button i {
    padding-right: 8px;
}

.grid-8 {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.pad-5 {
    padding: 5px;
}

.pad-12 {
    padding: 5px 12px 12px;
}

.grid-c-s-1 {
    grid-column-start: 1
}

.grid-c-s-2 {
    grid-column-start: 2
}

.grid-c-s-3 {
    grid-column-start: 3
}

.grid-c-s-4 {
    grid-column-start: 4
}

.grid-c-s-5 {
    grid-column-start: 5
}

.grid-c-s-6 {
    grid-column-start: 6
}

.grid-c-s-7 {
    grid-column-start: 7
}

.grid-span-2 {
    grid-column-end: span 2
}

.grid-span-3 {
    grid-column-end: span 3
}

.grid-span-4 {
    grid-column-end: span 4
}

.grid-span-6 {
    grid-column-end: span 6
}

.grid-span-7 {
    grid-column-end: span 7
}

.grid-span-8 {
    grid-column-end: span 8
}

.lab-grid {
    font-size: 14px;
    padding: 5px;
    text-align: right;

}
.lab-grid.left {
    text-align: left;
}

.lab-grid-title {
    font-size: 14px;
    font-style: italic;
    color: #6c757d;
    padding: 5px;
    font-weight: bold;
    text-align: left;
}

.lab-grid-min {
    font-size: 12px;
    padding: 4px;
    text-align: right;
}

.inp-grid {
    height: 30px;
    font-size: 12px;
    width: 100%;
}

.grid-separator {
    grid-column-start: 1;
    grid-column-end: span 8;
    height: 10px;
    width: 100%;
}

.lab-grid-sm {
    padding: 5px;
    text-align: right;
}

.inp-grid-sm {
    width: 100%;
}

.label-sm {
    width: 80px;
}

.btn-tracing {
    font-size: 12px;
    padding: 4px 6px;
    color: white !important;
}

.btn-tracing-black {
    font-size: 12px;
    padding: 4px 6px;
    color: black !important;
}

.small-tab th, .small-tab td {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.thead-blue th {
    color: white;
    background-color: #007bff;
    border-color: #0067c6;
}

.medium-tab th, .medium-tab td {
    font-size: 14px;
    /*text-align: center;*/
    font-weight: 500;
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

a.btn.btn-primary span, a.btn.btn-warning span {
    color: black;
}

a.btn.btn-success span, a.btn.btn-danger span {
    color: white;
}

.input-medium {
    height: 30px;
    font-size: 14px;
}


