@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css";

.map{
    height: 100%;
    width: 100%;
}

.online-marker{
    color: limegreen;
}

.p-popup{

}

#select-bounds {
    z-index: 500;
    position: absolute;
    margin-left: 80px;
    margin-top: 12px;
    background-color: white;
    border-radius: 6px;
    min-width: 300px
}

#update-button {
    z-index: 500;
    position: absolute;
    right: 12px;
    margin-top: 12px;
    width: 44px;
    height: 44px;
    background-color: white;
    border: gray;
    border-radius: 22px;
}

#update-button:hover{
    background-color: whitesmoke;
    color: #FFF;
    cursor: pointer;
}

#update-button:active{
    background:gray;
}

.container-coors {
    border-radius: 4px;
    border: 2px dodgerblue;
    position: fixed;
    height: 60px;
    width: 600px;
    background: white;
    z-index: 500;
    bottom: 0;
    right: 0;
    margin: 20px 80px 20px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.btn-tracing {
    font-size: 12px;
    padding: 4px 6px;
    color: white !important;
}