<div>
    <div>
        <div>
            <p class="ps" style="font-size: 0.8rem; color: lightcoral; padding-bottom: 0; margin-bottom: 0">Secuencia {{position.index}}</p>
            <p class="ps" style="font-size: 1rem; margin-top: 0; padding-top: 0"><b>Conductor:</b> {{position.full_name}}</p>
            <p class="ps" style="font-size: 1rem">Hora:  <b>{{position.generated_time | date : "shortTime" }}</b>, Fecha: <b>{{position.generated_time | date : "mediumDate" }}</b></p>

            <p *ngIf="position.message === 'PICKUP'" class="ps" style="font-size: 1rem; margin-top: 0; padding-top: 0; color: limegreen">
                Carga Recogida
            </p>
            <p *ngIf="position.message === 'DELIVERY'" class="ps" style="font-size: 1rem; margin-top: 0; padding-top: 0; color: limegreen">
                Carga Despachada
            </p>

            <div class="container-alert" *ngIf="(position.hasReport || position.message === 'PICKUP' || position.message === 'DELIVERY') && (position.alert_message != null && position.alert_message.length > 0)">
                <img class="image-alert" src="{{reportIcon}}">
                <p class="alert-message ps" [ngClass]="{'caution':position.message === 'INCIDENCE_LEVEL_2'}"> {{position.alert_message}}</p>
            </div>

        </div>

    </div>
</div>