
    <p class="ppp ps" style="font-size: 0.85rem"><b>{{vehicle.alias}}</b></p>
    <p class="ppp ps"><b>IMEI: </b>{{vehicle.imei}}</p>
    <p class="ppp ps"><b>Velocidad: </b>{{vehicle.speed}} km/h</p>
    <p class="ppp ps"><b>Placa:</b> {{vehicle.automotor_plate}}</p>
    <p class="ppp ps"><b>Kilometraje:</b> {{vehicle.odometer}}</p>
    <p class="ppp ps"><b>Última transmisión: </b> &ensp; &ensp; &ensp; {{vehicle.generated_time | date : "medium"}}</p>
    <p class="ppp ps"><b>Última posición valida: </b>&ensp;{{vehicle.message_time | date : "medium"}}</p>

